{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Best Bad or No Credit Credit Cards</h1>
        </div>
        </div>
    </section>
    </header>


<div class="container">  

    <p class="text-muted">Last Updated: 9/4/2021</p>

  <!--Rank 1-->  

    <section id="rank1" class="">
        
            <div class="p-5 mt-1  rounded-3">
            <div class="row align-items-center bg-light justify-content-between">

                <div class="col-md text-center">
                    <img src="{% static 'flp_app/discover_it_secured.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5 mb-2">
                    <h2 class="text-center">Discover it® Secured Credit Card</h2>
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Regular APR</h5>
                              <p class="mt-3">22.99% Variable APR</p>
                            </div>
                          </a>
                        
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro APR</h5>
                              <p class="mt-3">10.99% intro APR on Balance Transfers for 6 months</p>
                            </div>
                          </a>

                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">300-629</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    <a href="https://www.discovercard.com/application/website/apply?srcCde=KXPA&ICMPGN=ALL_CC_SECURED_APPLY_NOW_BTN&_ga=2.73896215.40923699.1630812829-1552928732.1630812829&_gac=1.66144576.1630812829._2hme3kklakkf6mtiz3iedjntru2xrnuyrxpj02bo00&adobe_mc=MCMID%3D53666481036962108401525479163571838120%7CMCORGID%3D0D6C4673527839230A490D45%2540AdobeOrg%7CTS%3D1630812866" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                 <!--Accordion-->
                <div class="accordion p-2" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                        Quick Facts
                      </button>
                    </h2>
                    <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingOneOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul>
                          <li>No Annual Fee, earn cash back, and build your credit with responsible use.</li>
                          <li>Using your secured credit card helps build a credit history with the three major credit bureaus. Generally, prepaid and debit cards can’t do that.</li>
                          <li>Establish your credit line with your tax return by providing a refundable security deposit of at least $200 after being approved.  Bank information must be provided when submitting your deposit.</li>
                          <li>Automatic reviews starting at 8 months to see if we can transition you to an unsecured line of credit and return your deposit.</li>
                          <li>Earn 2% cash back at Gas Stations and Restaurants on up to $1,000 in combined purchases each quarter. Plus, earn unlimited 1% cash back on all other purchases –  automatically.</li>
                          <li>Discover is accepted nationwide by 99% of the places that take credit cards.</li>
                          <li>Get 100% U.S. based customer service & get your free Credit Scorecard with your FICO® Credit Score</li>
                          <li>INTRO OFFER: Unlimited Cashback Match – only from Discover. Discover will automatically match all the cash back you’ve earned at the end of your first year! There’s no minimum spending or maximum rewards. Just a dollar-for-dollar match.</li>
                        </ul>
                        <a href="https://www.discovercard.com/application/website/apply?srcCde=KXPA&ICMPGN=ALL_CC_SECURED_APPLY_NOW_BTN&_ga=2.73896215.40923699.1630812829-1552928732.1630812829&_gac=1.66144576.1630812829._2hme3kklakkf6mtiz3iedjntru2xrnuyrxpj02bo00&adobe_mc=MCMID%3D53666481036962108401525479163571838120%7CMCORGID%3D0D6C4673527839230A490D45%2540AdobeOrg%7CTS%3D1630812866">View Rates & Fees</a>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneTwo" aria-expanded="false" aria-controls="collapseOneTwo">
                        Why We Like It
                      </button>
                    </h2>
                    <div id="collapseOneTwo" class="accordion-collapse collapse" aria-labelledby="headingOneTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>The rewards and other features on this secured card for bad credit are better than or equal to those on many unsecured cards for good credit.</p>
                        <ul>
                          <li><strong>Pros: </strong>The Discover it® Secured Credit Card may be the best credit card available for people with bad credit. Not only does it have an annual fee of $0, but it also gives rewards: 2% cash back on up to $1,000 worth of spending per quarter on restaurants and gas, and 1% on all other spending. Handle your account responsibly for eight months, and Discover will review your account for a possible upgrade to an unsecured card.</li>
                          <li><strong>Cons: </strong>The initial deposit must be paid with a bank account, so if you don’t have access to traditional financial services, you may be out of luck.</li>
                        </ul>
                  
                      </div>
                    </div>
                  </div>
                </div>
                 <!---->
            </div>
          
            </div>
        
    </section>


    <!--Rank 2-->  
    <section id="rank2" class="">
     
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
               
                <div class="col-md p-5 ">
                    <h2 class="text-center">Secured Mastercard® from Capital One</h2>
                    
                     <!--List Group-->

                     <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Regular APR</h5>
                              <p class="mt-3">26.99% Variable APR</p>
                            </div>
                          </a>
                        
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro APR</h5>
                              <p class="mt-3">N/A</p>
                            </div>
                          </a>

                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">300-629</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    
                    <a href="https://applynow.capitalone.com/?productId=13408" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <img src="{% static 'flp_app/capitalone_platinum_secured.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>

                
                 <!--Accordion-->
                 <div class="accordion p-2" id="accordion2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                          Quick Facts
                        </button>
                      </h2>
                      <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                            <li>No annual or hidden fees. See if you're approved in seconds</li>
                            <li>Building your credit? Using the Capital One Secured card responsibly could help</li>
                            <li>Put down a refundable security deposit starting at $49 to get a $200 initial credit line</li>
                            <li>You could earn back your security deposit as a statement credit when you use your card responsibly, like making payments on time</li>
                            <li>Be automatically considered for a higher credit line in as little as 6 months with no additional deposit needed</li>
                            <li>Enjoy peace of mind with $0 Fraud Liability so that you won't be responsible for unauthorized charges</li>
                            <li>Monitor your credit with CreditWise from Capital One. It's free for everyone and checking your credit does not hurt your credit score</li>
                          </ul>
                          <a href="https://applynow.capitalone.com/?productId=13408">View Rates & Fees</a>
                        </div>
                      </div>
                    </div>
  
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                          Why We Like It
                        </button>
                      </h2>
                      <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>If your credit is damaged but not necessarily destroyed, the Secured Mastercard® from Capital One is an excellent place to start rebuilding it.</p>
                          <ul>
                            <li><strong>Pros: </strong>Most secured cards typically require you to make a deposit equal to your credit line, and you have to come up with the whole deposit upfront. With the Secured Mastercard® from Capital One, however, you can get a credit limit of $200 for a deposit of $49, $99 or $200. You can also make your deposit in installments. And you can be automatically considered for a higher credit limit with no additional deposit in as little as six months. </li>
                            <li><strong>Cons: </strong>People with severely damaged credit, such as a bankruptcy on their credit report, might not qualify. You must have a checking or savings account.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                   <!---->

                </div>
            </div>
           
    </section>


    <!--Rank 3-->  
    <section id="rank3" class="">
        
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <img src="{% static 'flp_app/opensky_secured.jpg/' %}" style="height: 300px;"  class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">OpenSky® Secured Visa® Credit Card</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$35</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Regular APR</h5>
                          <p class="mt-3">17.39% Variable APR</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro APR</h5>
                          <p class="mt-3">N/A</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">300-689</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://openskycc.com/app/Application?utm_source=GoogleAds%20&utm_medium=cpc&NID=1864&SID=google_1-1" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

             <!--Accordion-->
            <div class="accordion p-2" id="accordion3">

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeOne" aria-expanded="false" aria-controls="collapseThreeOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseThreeOne" class="accordion-collapse collapse" aria-labelledby="headingThreeOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <li>No credit check necessary to apply. OpenSky believes in giving an opportunity to everyone.</li>
                      <li>The refundable deposit you provide becomes your credit line limit on your Visa card. Choose it yourself, from as low as $200.</li>
                      <li>Build credit quickly. OpenSky reports to all 3 major credit bureaus.</li>
                      <li>99% of our customers who started without a credit score earned a credit score record with the credit bureaus in as little as 6 months.</li>
                      <li>We have a Facebook community of people just like you; there is a forum for shared experiences, and insights from others on our Facebook Fan page. (Search “OpenSky Card” in Facebook.)</li>
                      <li>OpenSky provides credit tips and a dedicated credit education page on our website to support you along the way.</li>
                    </ul>
                    <a href="https://openskycc.com/app/Application?utm_source=GoogleAds%20&utm_medium=cpc&NID=1864&SID=google_1-1">View Rates & Fees</a>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo" aria-expanded="false" aria-controls="collapseThreeTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseThreeTwo" class="accordion-collapse collapse" aria-labelledby="headingThreeTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>The OpenSky® Secured Visa® Credit Card is a strong option for people struggling to build or rebuild credit, as well as for those without access to traditional banking services.</p>
                    <ul>
                      <li><strong>Pros: </strong>Unlike most other secured cards, the OpenSky® Secured Visa® Credit Card doesn’t require a credit check, so even people with badly damaged credit may be able to qualify. (You’ll still need to meet income standards, however.) Also setting this card apart from other secured cards: You don’t need a bank account. You can make your deposit and pay your bill by debit card, wire transfer, check or money order.</li>
                      <li><strong>Cons: </strong>The card charges an annual fee. There’s no process to upgrade to an unsecured card.</li>
                    </ul>
                  </div>
              </div>
            </div>
             <!---->
        </div>
      
        </div>
    
    </section>


    <!--Rank 4-->  
    <section id="rank4" class="">
    
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
            
                <div class="col-md p-5 ">
                    <h2 class="text-center">Tomo Card</h2>
                    
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                        </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Regular APR</h5>
                            <p class="mt-3">N/A/p>
                            </div>
                        </a>
                        
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Intro APR</h5>
                            <p class="mt-3">N/A</p>
                            </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Recommended Credit Score</h5>
                            <p class="mt-3">300-629</p>
                            </div>
                        </a>


                    </div>
                    
                    <!---->
                    
                    <a href="https://tomocredit.com/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <img src="{% static 'flp_app/tomo_card.png/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>

                
                <!--Accordion-->
                <div class="accordion p-2" id="accordion4">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourOne" aria-expanded="false" aria-controls="collapseFourOne">
                        Quick Facts
                        </button>
                    </h2>
                    <div id="collapseFourOne" class="accordion-collapse collapse" aria-labelledby="headingFourOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <ul>
                          <li>Unlike a lot of cards that target a similar audience, there's no annual fee, security deposit or even APR.</li>
                          <li>You'll have to first see whether you’re preapproved by submitting your age, income and bank account balances on the website. A preapproval means, in essence, that the issuer is giving you a "soft yes" based on the information you provided</li>
                          <li>Because there's no hard pull on your credit report when you officially apply, it won’t impact your credit scores the way a traditional credit card application does. Instead, TomoCredit says it looks at a number of data points to determine eligibility</li>
                          <li>The Tomo Credit Card doesn’t charge any fees or interest. Instead, TomoCredit makes money from interchange fees — a surcharge assessed on the merchant when you use your card to make a purchase</li>
                          <li>Depending on the factors that TomoCredit weighs in its underwriting, it's possible to get a credit limit of up to $10,000 </li>
                          <li>Newcomers to the U.S. who want to build credit may also qualify for the Tomo Credit Card. If you don’t have a Social Security number or Individual Taxpayer Identification Number, it’s possible to apply with your passport information</li>
                          <li>Frequent payments keep your credit utilization low (a key factor in your credit scores) and help you establish credit. Payments are reported to all three major credit bureaus</li>
                        
                        </ul>
                        <a href="https://tomocredit.com/">Learn More</a>
                      </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTwo" aria-expanded="false" aria-controls="collapseFourTwo">
                        Why We Like It
                        </button>
                    </h2>
                    <div id="collapseFourTwo" class="accordion-collapse collapse" aria-labelledby="headingFourTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <p>The Tomo Credit Card, created by San Francisco-based startup TomoCredit, is a product for those with no credit or poor credit (FICO scores of 629 or below) who want to establish a credit history without carrying a monthly balance. Unlike a lot of cards that target a similar audience, there's no annual fee, security deposit or even APR.</p>
                          <ul>
                            <li><strong>Pros: </strong>Secured cards can be ideal if you have poor credit or no credit, but unlike with the Tomo Credit Card, you’ll have to come up with a security deposit upfront — usually a few hundred dollars, depending on the card. You typically get the money back once you close or upgrade the card, assuming you’ve maintained a good payment history.</li>
                            <li><strong>Cons: </strong>Even without the risk of fees or interest, you should still make payments on time to prevent the card from being frozen and your credit from taking a hit. Accounts that are delinquent may still be reported to the credit bureaus and get sent to collections</li>
                          </ul>
                      </div>
                    </div>
                    </div>
                </div>
                <!---->

                </div>
            </div>
        
    </section>


    <!--Rank 5-->  
    <section id="rank5" class="">
            
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <img src="{% static 'flp_app/growcredit_card.png/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Grow Credit Mastercard</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Regular APR</h5>
                          <p class="mt-3">N/A</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro APR</h5>
                          <p class="mt-3">N/A</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">300-629</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://www.growcredit.com/signup/apply" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

            <!--Accordion-->
            <div class="accordion p-2" id="accordion5">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveOne" aria-expanded="false" aria-controls="collapseFiveOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseFiveOne" class="accordion-collapse collapse" aria-labelledby="headingFiveOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      
                      <li>The Grow Credit Mastercard can help you build credit with qualifying subscriptions or bill payments. It doesn't charge fees or interest. Plus, it skips the credit check</li>
                      <li>The card allows customers to choose one of three membership plans that help them build credit through qualifying subscriptions or bill payments</li>
                      <li>There will be a "soft" credit check for identification purposes, which won't affect your credit scores</li>
                      <li>The virtual card is tied to one of three membership plans, depending on your eligibility. These plans allow you to build credit with qualifying subscriptions, each with a different limit</li>
                      <li>With the Grow Credit Mastercard, carrying a balance from one month to another is impossible. You can only charge the eligible subscriptions to the card up to your available monthly spending limit</li>
                      <li>Payments are reported to all three major credit bureaus — TransUnion, Equifax and Experian — which are the companies that record the information used to calculate your credit scores</li>
                      <li>The installment loan lasts for 12 months, but you can continue renewing it. Doing so will allow you to preserve the age of your active accounts, a major factor in your credit scores</li>
                    </ul>
                  
                    <a href="https://www.growcredit.com/signup/apply">Learn More</a>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveTwo" aria-expanded="false" aria-controls="collapseFiveTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseFiveTwo" class="accordion-collapse collapse" aria-labelledby="headingFiveTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>The Grow Credit Mastercard doesn’t require a security deposit or a credit check. It allows you to establish a credit history by paying for qualifying subscriptions like Netflix or Spotify, and it doesn’t charge any interest or fees. There's no APR because you cannot carry a balance on the card.</p>
                    <ul>
                      <li><strong>Pros: </strong>Rather than extending a traditional line of credit, the card offers an installment loan that allows you to establish credit as you pay for qualifying monthly subscriptions that include eligible bills, TV, music and other streaming services. You pay off the bill in full each month and build credit in the process.</li>
                      <li><strong>Cons: </strong>Given its unique structure, the card does have some limitations that may not be a match for everyone. For instance, you won't be able to carry a balance, and your spending power will be low. Applicants also need to have direct deposits of at least $1,200 per month (for at least two months) to qualify for the free plan.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!---->
        </div>
      
        </div>

    </section>


    <!--Rank 6-->  
    <section id="rank6" class="">

        <div class="p-5 my-1 rounded-3">
        <div class="row align-items-center bg-light justify-content-between">
          
            <div class="col-md p-5 ">
                <h2 class="text-center">Credit Builder Secured Visa® Credit Card</h2>
                
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Regular APR</h5>
                          <p class="mt-3">25.99% Variable APR</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro APR</h5>
                          <p class="mt-3">N/A</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">300-689</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                
                <a href="https://www.afbank.com/personal/credit-cards/credit-builder-account" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

            
            <div class="col-md text-center">
                <img src="{% static 'flp_app/AFB_secured.png/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>

            
            <!--Accordion-->
            <div class="accordion p-2" id="accordion6">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixOne" aria-expanded="false" aria-controls="collapseSixOne">
                      Quick Facts
                    </button>
                  </h2>
                  <div id="collapseSixOne" class="accordion-collapse collapse" aria-labelledby="headingSixOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <li>You don't have to be in the military to get the Credit Builder Secured Visa® Credit Card from Armed Forces Bank, and it boasts some unique features among cards in its class</li>
                        <li>Set your own credit limit between $300 and $3,000 based on the amount you deposit into your Credit Builder Savings account</li>
                        <li>Accrued Interest on Savings - The money in your savings account will earn interest, adding to your savings</li>
                        <li>Automatic Reporting - We'll report your performance to the three major credit bureaus to help you build a credit history</li>
                        <li>Upgrades Available - You can upgrade to an unsecured card with good performance. We'll periodically review your credit activity to see if you qualify. If you do, we'll let you know</li>
                        <li>Custom Payment Date - If you are a new customer, you can choose either the 1st or 16th of each month as your payment date. Once your date is set, it can't be changed</li>
                        </ul>
                      <a href="https://www.afbank.com/personal/credit-cards/credit-builder">View Rates & Fees</a>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTwo" aria-expanded="false" aria-controls="collapseSixTwo">
                      Why We Like It
                    </button>
                  </h2>
                  <div id="collapseSixTwo" class="accordion-collapse collapse" aria-labelledby="headingSixTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>The Credit Builder Secured Visa® Credit Card from Armed Forces Bank makes it easy to increase your credit line over time to give you greater flexibility and keep your credit utilization low. You can increase your limit in $50 increments simply by depositing more money at any time. </p>
                      <ul>
                        <li><strong>Pros: </strong>The card offers an adjustable credit limit feature that you can't find on other secured credit cards, and it's also the rare credit card these days that allows you to open an account jointly. Plus, like other good secured cards, it has a $0 annual fee, offers an upgrade path and reports to all three major U.S. credit bureaus.</li>
                        <li><strong>Cons: </strong>Still, there are some caveats to be aware of, including a comparatively high minimum deposit requirement and a pesky hidden fee. The card's annual fee is $0, which is an ideal feature for a secured card. But that's not the entire story. That's because cardholders will owe a $4.50 a quarter unless they enroll in e-statements. All told, if you opt for paper statements, you'd be paying $18 a year to hold this card.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!---->

            </div>
        </div>
      
    </section>

    <p>Information source: Nerd Wallet</p>
   
    <button class="btn btn-sm btn-outline-primary mb-4"><a href="https://www.nerdwallet.com/best/credit-cards/bad-credit"></a>Read Article</button>

</div>  
{% endblock content %}