{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Blog</h1>
        </div>
        </div>
    </section>
    </header>


    <!--Main Content Begin-->
    <section>
        <div class="container">

            <div class="row g-5">
                <div class="col-md-7">
            
                    <article class="blog-post">
                        {% for post in posts %}
                            <div class="card text-dark bg-light mb-3" style="max-width: 100%;">
                                <div class="card-header">{{ post.date_posted|date:"F d, Y" }}</div>
                                <div class="card-body">
                                <h1 class="card-title"><a href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h1>
                                </div>
                            </div>
                        {% endfor %}

                </div>


                
             <!--Main Content End-->
                    <!--
                    <div class="row">
                        <div class="col-md-8 card mb-4  mt-3 left  top">
                            <div class="card-body">
                                <h1>{% block title %} {{ comment.title }} {% endblock title %}</h1>
                                <p class=" text-muted">{{ comment.author }} | {{ comment.date_posted }}</p>
                                <p class="card-text ">{{ comment.content | safe }}</p>
                            </div>
                        </div>
                
                        <div class="col-md-8 card mb-4  mt-3 ">
                            <div class="card-body">
                               
                                <h2>{{ comments.count }} comments</h2>
                        
                                {% for comment in comments %}
                                <div class="comments" style="padding: 10px;">
                                    <p class="font-weight-bold">
                                        {{ comment.name }}
                                        <span class=" text-muted font-weight-normal">
                                        {{ comment.created_on }}
                                        </span>
                                    </p>
                                    {{ comment.body | linebreaks }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-8 card mb-4  mt-3 ">
                            <div class="card-body">
                                {% if new_comment %}
                                <div class="alert alert-success" role="alert">
                                     Your comment is awaiting moderation
                                </div>
                                {% else %}
                                <h3>Leave a comment</h3>
                                <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                 </div> -->


            
                
                        
                    </div>
                    </div>
            </div>
                

        </div>
    </section>

{% endblock content %}