{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Blog</h1>
        </div>
        </div>
    </section>
    </header>


    <!--Main Content Begin-->
    <section>
        <div class="container">

            <div class="row g-5">
                <div class="col-md-7">
            
                    <article class="blog-post">
                        {% for post in posts %}
                            <div class="card text-dark bg-light mb-3" style="max-width: 100%;">
                                <div class="card-header">{{ post.date_posted|date:"F d, Y" }}</div>
                                <div class="card-body">
                                <h1 class="card-title"><a href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h1>
                                </div>
                            </div>
                        {% endfor %}

                </div>


                
            
                    </div>
                    </div>
            
                

     
    </section>

{% endblock content %}