{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}


        <div class="mt-5">
        <div class="container py-4 ">
      
          <div class="p-5 my-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">What will my car payment be?</h1>
              <p class="col-md-8 fs-4">Let us know the price of the car you're looking at. If you have a trade in, we'll take that into account too and tell you what you could be looking at for a monthly payment.</p>
              <a href="{% url 'auto-payment-calculator' %}" ><button class="btn btn-primary btn-lg" type="button">Car Payment Calculator</button></a>
            </div>
          </div>
      
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>What will my house payment be?</h2>
                <p>Ready to start looking at houses or just want to start planning? In just a couple quick questions, we can tell you what your monthly mortgage payment could be.</p>
                <a href="{% url 'mortgage-calculator' %}"><button class="btn btn-outline-light" type="button">Mortgage Payment Calculator</button></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Retirement Calculator</h2>
                <p>See if you're on track with your retirement savings. We'll add up how much you'll need for retirement and calculate how much you'll have saved up when it's time to retire based on your current savings habits.</p>
                <a href="{% url 'retirement-calculator' %}"><button class="btn btn-outline-secondary" type="button">Retirement Savings Calculator</button></a>
              </div>
            </div>
          </div>
          <div class="p-5 my-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">How much house can I afford?</h1>
              <p class="col-md-8 fs-4">Let us know what your target payment is and we will give you a target home price to look at as you begin your search.</p>
              <a href="{% url 'home-affordability-calculator' %}"><button class="btn btn-primary btn-lg" type="button">Home Price Calculator</button></a>
            </div>
          </div>
      
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>How much car can I afford?</h2>
                <p>How much do you want to pay per month? Have a down payment or trade in? We'll let you know if you can afford that Tesla.</p>
                <button class="btn btn-outline-light" type="button">Car Affordability Calculator</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-light border rounded-3">
                <h2>What will my student loan payments be?</h2>
                <p>Graduating? Congrats! Except now it's time to pay back the loans...We can help give an idea what those payments will be.</p>
                <a href="{% url 'student-loan-calculator' %}"><button class="btn btn-outline-secondary" type="button">Student Loan Repayment Calculator</button></a>
              </div>
            </div>
          </div>
      
         
        </div>
    </div>

    



{% endblock content %}