{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Best Car Insurance</h1>
        </div>
        </div>
    </section>
    </header>


<div class="container">  

    <p class="text-muted">Last Updated: 1/1/1</p>
    <div class="p-5 my-4 bg-light rounded-3">
        
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">The less-fun part of car shopping is shopping for insurance</h1>
          <p class="col-md-8 fs-4">Like or not, we have to have it. Don't take a chance, good car insurance protects more than just your car.</p>
          <a href="#" ><button class="btn btn-primary" type="button"><i class="bi bi-chevron-right"></i> Read tips from a former claim adjuster</button></a>
        </div>
      </div>

    <!--Rank 1-->  
    <section id="rank1" class="">
        
            <div class="p-5 mt-1  rounded-3">
            <div class="row align-items-center bg-light justify-content-between">

                <div class="col-md text-center">
                    <a href="https://www.amica.com/en/products/auto-insurance.html"><img src="{% static 'flp_app/amica.png/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
                </div>
                <div class="col-md p-5 mb-2">
                    <h2 class="text-center">Amica</h2>
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="https://www.amica.com/en/products/auto-insurance.html" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Customer Service</h5>
                            <p class="mt-3">High customer satisfaction</p>
                          </div>
                        </a>

                        <a href="https://www.amica.com/en/products/auto-insurance.html" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Cost</h5>
                              <p class="mt-3">Average</p>
                            </div>
                          </a>
                        
                          <a href="https://www.amica.com/en/products/auto-insurance.html" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Discounts</h5>
                              <p class="mt-3">Great</p>
                            </div>
                          </a>

                          <a href="https://www.amica.com/en/products/auto-insurance.html" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Ease of use</h5>
                              <p class="mt-3">Average</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    <a href="https://www.amica.com/en/products/auto-insurance.html" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
                </div>

                 <!--Accordion-->
                <div class="accordion p-2" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                        Quick Facts
                      </button>
                    </h2>
                    <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingOneOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul>
                          <p><strong>Pros:</strong></p>
                          <li>High customer satisfaction ratings and low consumer complaints.</li>
                          <li>Many policy perks and discounts.</li>
                          <li>Potential for earning dividends.</li>
                          <br>
                          <p><strong>Cons:</strong></p>
                          <li>May deny coverage to some people deemed risky by the company.</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneTwo" aria-expanded="false" aria-controls="collapseOneTwo">
                        Why We Like It
                      </button>
                    </h2>
                    <div id="collapseOneTwo" class="accordion-collapse collapse" aria-labelledby="headingOneTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>High marks for customer satisfaction and numerous discounts make Amica a great choice for most drivers.</p>
                      </div>
                    </div>
                  </div>
                </div>
                 <!---->
            </div>
          
            </div>
        
    </section>

    <!--Rank 2-->  
    <section id="rank2" class="">
     
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
               
                <div class="col-md p-5 ">
                    <h2 class="text-center">Liberty Mutual</h2>
                    
                     <!--List Group-->

                     <div class="list-group mt-2">

                        
                        <a href="https://www.libertymutual.com/" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Customer Service</h5>
                            <p class="mt-3">Below average</p>
                          </div>
                        </a>

                        <a href="https://www.libertymutual.com/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Cost</h5>
                              <p class="mt-3">Does not provide data</p>
                            </div>
                          </a>
                        
                          <a href="https://www.libertymutual.com/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Discounts</h5>
                              <p class="mt-3">Great</p>
                            </div>
                          </a>

                          <a href="https://www.libertymutual.com/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Ease of use</h5>
                              <p class="mt-3">Above Average</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    
                    <a href="https://www.libertymutual.com/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
                </div>

                
                <div class="col-md text-center">
                    <a href="https://www.libertymutual.com/"><img src="{% static 'flp_app/libertymutual.svg/' %}" style="height: 280px;" class="img-fluid" alt=""></a>
                </div>

                
                 <!--Accordion-->
                 <div class="accordion p-2" id="accordion2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                          Quick Facts
                        </button>
                      </h2>
                      <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                            <p><strong>Pros:</strong></p>
                            <li>Many types of coverage available.</li>
                            <li>Lots of discounts.</li>
                            <li>Robust digital tools.</li>
                            <br>
                            <p><strong>Cons:</strong></p>
                            <li>More auto insurance complaints to state regulators than expected for its size.</li>
                            <li>Customer satisfaction ratings are below average.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
  
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                          Why We Like It
                        </button>
                      </h2>
                      <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>Liberty Mutual provides robust digital tools on its website and app, and offers more discounts than most other insurers.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                   <!---->

                </div>
            </div>
           
    </section>

    <!--Rank 3-->  
    <section id="rank3" class="">
        
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <a href="https://www.shelterinsurance.com/insurance/autoinsurance/"><img src="{% static 'flp_app/shelter.png/' %}" style="height: 280px;" class="img-fluid" alt=""></a>
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Shelter</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.shelterinsurance.com/insurance/autoinsurance/" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Customer Service</h5>
                        <p class="mt-3">Good</p>
                      </div>
                    </a>

                    <a href="https://www.shelterinsurance.com/insurance/autoinsurance/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Cost</h5>
                          <p class="mt-3">About average</p>
                        </div>
                      </a>
                    
                      <a href="https://www.shelterinsurance.com/insurance/autoinsurance/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Discounts</h5>
                          <p class="mt-3">Great</p>
                        </div>
                      </a>

                      <a href="https://www.shelterinsurance.com/insurance/autoinsurance/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Ease of use</h5>
                          <p class="mt-3">Average</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://www.shelterinsurance.com/insurance/autoinsurance/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
            </div>

             <!--Accordion-->
            <div class="accordion p-2" id="accordion3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeOne" aria-expanded="false" aria-controls="collapseThreeOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseThreeOne" class="accordion-collapse collapse" aria-labelledby="headingThreeOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <p><strong>Pros:</strong></p>
                      <li>Fewer complaints than similarly sized companies.</li>
                      <li>Many discounts available.</li>
                      <li>User-friendly website and mobile app that allow online claims and bill payments.</li>
                      <br>
                      <p><strong>Cons:</strong></p>
                      <li>Not offered in every state.</li>
                      <li>Some discounts may be not be available depending on where you live.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo" aria-expanded="false" aria-controls="collapseThreeTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseThreeTwo" class="accordion-collapse collapse" aria-labelledby="headingThreeTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Shelter’s minimal customer complaints and extensive list of discounts make it a solid option if you live in one of the 15 states where the company offers policies.</p>
                  </div>
                </div>
              </div>
            </div>
             <!---->
        </div>
      
        </div>
    
    </section>

    <!--Rank 4-->  
    <section id="rank4" class="">
    
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
            
                <div class="col-md p-5 ">
                    <h2 class="text-center">Progressive</h2>
                    
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="https://www.progressive.com/auto/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Customer Service</h5>
                            <p class="mt-3">Slightly below average</p>
                        </div>
                        </a>

                        <a href="https://www.progressive.com/auto/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Cost</h5>
                            <p class="mt-3">About average</p>
                            </div>
                        </a>
                        
                        <a href="https://www.progressive.com/auto/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Discounts</h5>
                            <p class="mt-3">Great</p>
                            </div>
                        </a>

                        <a href="https://www.progressive.com/auto/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Ease of use</h5>
                            <p class="mt-3">Above average</p>
                            </div>
                        </a>


                    </div>
                    
                    <!---->
                    
                    <a href="https://www.progressive.com/auto/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
                </div>

                
                <div class="col-md text-center">
                    <a href="https://www.progressive.com/auto/"><img src="{% static 'flp_app/progressive-logo.png/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
                </div>

                
                <!--Accordion-->
                <div class="accordion p-2" id="accordion4">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourOne" aria-expanded="false" aria-controls="collapseFourOne">
                        Quick Facts
                        </button>
                    </h2>
                    <div id="collapseFourOne" class="accordion-collapse collapse" aria-labelledby="headingFourOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                            <p><strong>Pros:</strong></p>
                            <li>Third-largest personal auto insurer in the country.</li>
                            <li>Pet injury protection included if you buy collision coverage.</li>
                            <li>Rideshare coverage anytime you have the app on.</li>
                            <br>
                            <p><strong>Cons:</strong></p>
                            <li>Below average rating for car insurance shopping customer satisfaction from J.D. Power.</li>
                         
                          </ul>
                        </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTwo" aria-expanded="false" aria-controls="collapseFourTwo">
                        Why We Like It
                        </button>
                    </h2>
                    <div id="collapseFourTwo" class="accordion-collapse collapse" aria-labelledby="headingFourTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                       <p>Progressive’s customer satisfaction scores aren’t as high as other companies’, but it offers enough discounts and insurance products to accommodate most people and has few customer complaints.</p>
                        </div>
                    </div>
                    </div>
                </div>
                <!---->

                </div>
            </div>
        
    </section>

    <!--Rank 5-->  
    <section id="rank5" class="">
            
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <a href="https://purchase.allstate.com/onlineshopping/welcome"><img src="{% static 'flp_app/allstate.png/' %}" style="height: 300px;" class="img-fluid" alt=""></a>
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Allstate</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://purchase.allstate.com/onlineshopping/welcome" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Customer Service</h5>
                        <p class="mt-3">Below Average</p>
                      </div>
                    </a>

                    <a href="https://purchase.allstate.com/onlineshopping/welcome" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Cost</h5>
                          <p class="mt-3">Average</p>
                        </div>
                      </a>
                    
                      <a href="https://purchase.allstate.com/onlineshopping/welcome" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Discounts</h5>
                          <p class="mt-3">Great</p>
                        </div>
                      </a>

                      <a href="https://purchase.allstate.com/onlineshopping/welcome" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Ease of use</h5>
                          <p class="mt-3">Above average</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://purchase.allstate.com/onlineshopping/welcome" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
            </div>

            <!--Accordion-->
            <div class="accordion p-2" id="accordion5">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveOne" aria-expanded="false" aria-controls="collapseFiveOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseFiveOne" class="accordion-collapse collapse" aria-labelledby="headingFiveOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <p><strong>Pros:</strong></p>
                      <li>Fewer complaints to state regulators than expected for auto insurance.</li>
                      <li>Generous perks, including accident forgiveness, new car replacement and a safe-driving bonus every six months.</li>
                      <li>Offers rideshare insurance in many states.</li>
                      <br>
                      <p><strong>Cons:</strong></p>
                      <li>Customer satisfaction ratings are below average compared with other companies.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveTwo" aria-expanded="false" aria-controls="collapseFiveTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseFiveTwo" class="accordion-collapse collapse" aria-labelledby="headingFiveTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                  <p>With generous discounts and plenty of coverage options, this auto insurance giant is worth a look.</p>
                  </div>
                </div>
              </div>
            </div>
            <!---->
        </div>
      
        </div>

    </section>

    <!--Rank 6-->  
    <section id="rank6" class="">

        <div class="p-5 my-1 rounded-3">
        <div class="row align-items-center bg-light justify-content-between">
          
            <div class="col-md p-5 ">
                <h2 class="text-center">American Family</h2>
                
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.amfam.com/insurance/car/overview" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Customer Service</h5>
                        <p class="mt-3">Slightly below average</p>
                      </div>
                    </a>

                    <a href="https://www.amfam.com/insurance/car/overview" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Cost</h5>
                          <p class="mt-3">About average</p>
                        </div>
                      </a>
                    
                      <a href="https://www.amfam.com/insurance/car/overview" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Discounts</h5>
                          <p class="mt-3">Great</p>
                        </div>
                      </a>

                      <a href="https://www.amfam.com/insurance/car/overview" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Ease of use</h5>
                          <p class="mt-3">Above average</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                
                <a href="https://www.amfam.com/insurance/car/overview" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
            </div>

            
            <div class="col-md text-center">
                <a href="https://www.amfam.com/insurance/car/overview"><img src="{% static 'flp_app/amfam.png/' %}" style="height: 250px;" class="img-fluid" alt=""></a>
            </div>

            
            <!--Accordion-->
            <div class="accordion p-2" id="accordion6">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixOne" aria-expanded="false" aria-controls="collapseSixOne">
                      Quick Facts
                    </button>
                  </h2>
                  <div id="collapseSixOne" class="accordion-collapse collapse" aria-labelledby="headingSixOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <p><strong>Pros:</strong></p>
                        <li>Fewer customer complaints than expected for a company its size for auto, home and life.</li>
                        <li>Many coverage types offered.</li>
                        <li>Wide range of discounts.</li>
                        <br>
                        <p><strong>Cons:</strong></p>
                        <li>Below average rating for homeowners insurance satisfaction.</li>
                        <li>Not available in all states.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTwo" aria-expanded="false" aria-controls="collapseSixTwo">
                      Why We Like It
                    </button>
                  </h2>
                  <div id="collapseSixTwo" class="accordion-collapse collapse" aria-labelledby="headingSixTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>American Family received fewer consumer complaints than expected for a company of its size. But the insurer really shines when it comes to discounts, with savings for insuring multiple vehicles, completing a defensive driving course and having a student away at school.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!---->

            </div>
        </div>
      
    </section>

    <!--Rank 7-->  
    <section id="rank7" class="">
            
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <a href="https://www.auto-owners.com/insurance/auto"><img src="{% static 'flp_app/autoowners.png/' %}" style="height: 250px;" class="img-fluid" alt=""></a>
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Auto-Owners</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.auto-owners.com/insurance/auto" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Customer Service</h5>
                        <p class="mt-3">Good</p>
                      </div>
                    </a>

                    <a href="https://www.auto-owners.com/insurance/auto" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Cost</h5>
                          <p class="mt-3">About average</p>
                        </div>
                      </a>
                    
                      <a href="https://www.auto-owners.com/insurance/auto" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Discounts</h5>
                          <p class="mt-3">Great</p>
                        </div>
                      </a>

                      <a href="https://www.auto-owners.com/insurance/auto" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Ease of use</h5>
                          <p class="mt-3">Below average</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://www.auto-owners.com/insurance/auto" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
            </div>

            <!--Accordion-->
            <div class="accordion p-2" id="accordion7">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSevenOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenOne" aria-expanded="false" aria-controls="collapseSevenOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseSevenOne" class="accordion-collapse collapse" aria-labelledby="headingSevenOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <p><strong>Pros:</strong></p>
                      <li>Offers a wide variety of products with the opportunity to bundle.</li>
                      <li>Fewer complaints than other companies for auto and life insurance.</li>
                      <br>
                      <p><strong>Cons:</strong></p>
                      <li>Only available in 26 states.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSevenTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenTwo" aria-expanded="false" aria-controls="collapseSevenTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseSevenTwo" class="accordion-collapse collapse" aria-labelledby="headingSevenTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>People who need several insurance policies may benefit from the convenience and discounts of bundling them with Auto-Owners, which has many coverage options and few customer complaints.</p>
                  </div>
                </div>
              </div>
            </div>
            <!---->
        </div>
      
        </div>

    </section>

    <!--Rank 8-->  
    <section id="rank8" class="">

        <div class="p-5 my-1 rounded-3">
        <div class="row align-items-center bg-light justify-content-between">
          
            <div class="col-md p-5 ">
                <h2 class="text-center">Chubb</h2>
                
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.chubb.com/us-en/individuals-families/products/auto-insurance.html" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Customer Service</h5>
                        <p class="mt-3">Above average</p>
                      </div>
                    </a>

                    <a href="https://www.chubb.com/us-en/individuals-families/products/auto-insurance.html" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Cost</h5>
                          <p class="mt-3">Above average</p>
                        </div>
                      </a>
                    
                      <a href="https://www.chubb.com/us-en/individuals-families/products/auto-insurance.html" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Discounts</h5>
                          <p class="mt-3">Average</p>
                        </div>
                      </a>

                      <a href="https://www.chubb.com/us-en/individuals-families/products/auto-insurance.html" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Ease of use</h5>
                          <p class="mt-3">Above average</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                
                <a href="https://www.chubb.com/us-en/individuals-families/products/auto-insurance.html" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
            </div>

            
            <div class="col-md text-center">
                <a href="https://www.chubb.com/us-en/individuals-families/products/auto-insurance.html"><img src="{% static 'flp_app/chubb.jpg/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
            </div>

            
            <!--Accordion-->
            <div class="accordion p-2" id="accordion8">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingEightOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightOne" aria-expanded="false" aria-controls="collapseEightOne">
                      Quick Facts
                    </button>
                  </h2>
                  <div id="collapseEightOne" class="accordion-collapse collapse" aria-labelledby="headingEightOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <p><strong>Pros:</strong></p>
                        <li>Generous coverage and perks for high-end customers.</li>
                        <li>Cash settlements available for auto policies.</li>
                        <li>Fewer than expected number of complaints for auto insurance.</li>
                        <br>
                        <p><strong>Cons:</strong></p>
                        <li>Does not focus on providing cheap insurance.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingEightTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightTwo" aria-expanded="false" aria-controls="collapseEightTwo">
                      Why We Like It
                    </button>
                  </h2>
                  <div id="collapseEightTwo" class="accordion-collapse collapse" aria-labelledby="headingEightTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Chubb is best for drivers who value coverage quality over price. The company doesn’t focus on cheap insurance, but rather caters to mostly high-net-worth families, providing generous coverage options and perks that aren’t usually available from other insurers.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!---->

            </div>
        </div>
      
    </section>

    <!--Rank 9-->  
    <section id="rank9" class="">
            
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <a href="https://www.farmers.com/auto/"><img src="{% static 'flp_app/farmers.png/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Farmers</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.farmers.com/auto/" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Customer Service</h5>
                        <p class="mt-3">Reviews vary greatly</p>
                      </div>
                    </a>

                    <a href="https://www.farmers.com/auto/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Cost</h5>
                          <p class="mt-3">About average</p>
                        </div>
                      </a>
                    
                      <a href="https://www.farmers.com/auto/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Discounts</h5>
                          <p class="mt-3">Great</p>
                        </div>
                      </a>

                      <a href="https://www.farmers.com/auto/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Ease of use</h5>
                          <p class="mt-3">Above average</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://www.farmers.com/auto/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
            </div>

            <!--Accordion-->
            <div class="accordion p-2" id="accordion9">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingNineOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineOne" aria-expanded="false" aria-controls="collapseNineOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseNineOne" class="accordion-collapse collapse" aria-labelledby="headingNineOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <p><strong>Pros:</strong></p>
                      <li>Many coverage options for auto insurance.</li>
                      <li>Fewer complaints than expected, relative to its size.</li>
                      <li>Lots of discounts available.</li>
                      <br>
                      <p><strong>Cons:</strong></p>
                      <li>Mixed scores for customer satisfaction.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingNineTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineTwo" aria-expanded="false" aria-controls="collapseNineTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseNineTwo" class="accordion-collapse collapse" aria-labelledby="headingNineTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    
                  </div>
                </div>
              </div>
            </div>
            <!---->
        </div>
      
        </div>

    </section>

    <!--Rank 10-->  
    <section id="rank10" class="">

        <div class="p-5 my-1 rounded-3">
        <div class="row align-items-center bg-light justify-content-between">
          
            <div class="col-md p-5 ">
                <h2 class="text-center">Geico</h2>
                
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.geico.com/auto-insurance/" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Customer Service</h5>
                        <p class="mt-3">Above average</p>
                      </div>
                    </a>

                    <a href="https://www.geico.com/auto-insurance/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Cost</h5>
                          <p class="mt-3">Cheaper than average</p>
                        </div>
                      </a>
                    
                      <a href="https://www.geico.com/auto-insurance/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Discounts</h5>
                          <p class="mt-3">Great</p>
                        </div>
                      </a>

                      <a href="https://www.geico.com/auto-insurance/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Ease of use</h5>
                          <p class="mt-3">Above average</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                
                <a href="https://www.geico.com/auto-insurance/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Get a Quote</a>
            </div>

            
            <div class="col-md text-center">
                <a href="https://www.geico.com/auto-insurance/"><img src="{% static 'flp_app/GEICO - half-gecko.png/' %}" style="height: 280px;" class="img-fluid" alt=""></a>
            </div>

            
            <!--Accordion-->
            <div class="accordion p-2" id="accordion10">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTenOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenOne" aria-expanded="false" aria-controls="collapseTenOne">
                      Quick Facts
                    </button>
                  </h2>
                  <div id="collapseTenOne" class="accordion-collapse collapse" aria-labelledby="headingTenOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <p><strong>Pros:</strong></p>
                        <li>Low complaints and above-average customer satisfaction for auto insurance shopping.</li>
                        <li>Robust website and mobile app.</li>
                        <li>Many discounts available.</li>
                        <br>
                        <p><strong>Cons:</strong></p>
                        <li>Some coverage types available only through partners.</li>
                        <li>Limited network of local agents.</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTenTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenTwo" aria-expanded="false" aria-controls="collapseTenTwo">
                      Why We Like It
                    </button>
                  </h2>
                  <div id="collapseTenTwo" class="accordion-collapse collapse" aria-labelledby="headingTenTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>With nationwide availability and a raft of discounts, Geico is a popular and often affordable choice for car insurance. Among the nation’s four largest insurers, Geico stands out as having the cheapest annual rates on average and the smoothest online experience for users.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!---->

            </div>
        </div>
      
    </section>

    <p>Information source: Nerd Wallet</p>
   
    <button class="btn btn-sm btn-outline-primary mb-4"><a href="https://www.nerdwallet.com/blog/insurance/best-car-insurance-companies/"></a>Read Article</button>

</div>  
{% endblock content %}