

{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Contact</h1>
        </div>
        </div>
    </section>
    </header>

   <div class="container">
		<h2>Get in touch.</h2>
		<p>
			Please write your name, email address and a message below if you have any questions.
			One of our staff members will be happy to contact you directly and answer your questions as soon as possible. 
		</p>
		<form method="post" >
        {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-lg btn-outline-primary my-5" type="submit">Submit</button>
        </form>
    </div>

{% endblock content %}