{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <!--THIS IS THE LANDING PAGE FOR CREDIT CARD RANKINGS-->
        <div class="mt-5">
        <div class="container pt-4 ">
      
          <div class="p-5 mt-4 bg-light rounded-3">
            <div class="container-fluid pt-5">
              <h1 class="display-5 fw-bold">Why compare credit cards?</h1>
              <p class="col-md-8 fs-4">Not every credit card is created equal and everyone has different wants and needs when it comes to a credit card. Even a great credit card offer may not be right for you. For example, a card that gives you 3% back at gas stations isn't very useful if you drive an electric car.</p>
              
            </div>
            <a href="#"><button class="btn btn-outline-secondary" type="button">Learn more about choosing a credit card</button></a>
          </div>
      
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Credit Cards for Travel</h2>
                <p>A travel rewards credit card brings your next trip a little closer every time you use it. Each purchase earns points or miles that you can redeem for travel expenses. If you're loyal to a specific airline or hotel chain, consider that company's branded credit cards. Cash-back cards can be great for travel too, so be sure to check out our list of rewards cards as well.</p>
                <a href="{% url 'travel-cards' %}"><button class="btn btn-outline-light" type="button">View our rankings</button></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Credit Cards for Students</h2>
                <p>A student credit card is a great first step in establishing a good credit history. Building good credit might not seem like a priority when you're still in school, but you'll need it down the road if you want to finance a car, buy a house or qualify for the best credit card offers. Your credit can even affect your job prospects and your ability to rent an apartment. If you haven't had a credit card before or have a short credit history, be sure to check out our list of cards for bad or no credit as well.</p>
                <a href="{% url 'student-cards' %}"><button class="btn btn-outline-secondary" type="button">View our rankings</button></a>
              </div>
            </div>
          </div>
          <div class="row align-items-md-stretch mt-4">
            <div class="col-md-6">
              <div class="h-100 p-5 bg-light rounded-3">
                <h2>Credit Cards for Rewards and Cash Back</h2>
                <p>Rewards credit cards come in two main varieties: cash-back cards and travel cards. Cash-back cards pay you back a percentage of the amount of each transaction. Travel rewards credit cards give you points or miles for each dollar you spend; you redeem those rewards for free flights, hotel stays and more. No single rewards card is right for everyone. It's all about how you spend money and what kind of rewards you value. Most of our picks are chask back cards. See our separate list for travel card picks.</p>
                <a href="{% url 'rewards-cards' %}"><button class="btn btn-outline-secondary" type="button">View our rankings</button></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>Credit Cards for Bad Credit and No Credit</h2>
                <p>You can get a credit card with bad credit, but it won't be one of those cards you see advertised with rich rewards or exclusive perks. Instead, it will be a fairly basic card. That’s OK. You’re not going to be relying on this card forever. The idea is to use it to build or rebuild your credit, then move on to a better product. We believe the best credit cards for bad credit are secured cards. With these cards, you provide a security deposit, which protects the issuer in case you don’t pay. (When you close or upgrade the account, you can get your deposit back.) The deposit reduces the risk, making secured cards some of the easiest cards to get. </p>
                <a href="{% url 'badcredit-cards' %}"><button class="btn btn-outline-light" type="button">View our rankings</button></a>
              </div>
            </div>
          </div>


         
      
         
        </div>
        </div>

    



{% endblock content %}