{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>FAQ</h1>
        </div>
        </div>
    </section>
    </header>

        <!--QUESTIONS BEGIN-->
        <section id="questions" class="p-5"> 
          <div class="container">
              <h2 class="text-center mb-4">Frequently Asked Questions</h2>
              <div class="accordion accordion-flush" id="questions">
  
                  <!--item 1-->
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                        What is BAMS all about?
                      </button>
                    </h2>
                    <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                      <div class="accordion-body">Today there are many members of Generation Z that are not financially educated. This can lead to putting off major life milestones due to lack of financial stability. BAMS aims to help not only members of Gen Z gain useful information about finance but users of all ages who would like to learn about money management. Just click the register button and start learning!</div>
                    </div>
                  </div>
  
                  <!--item 2-->
                  <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
                          Does it cost money to use BAMS?
                        </button>
                      </h2>
                      <div id="question-two" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                        <div class="accordion-body">No not at all. All of our information is free to access. You'll just need to create an account if you want to bookmark posts.</div>
                      </div>
                    </div>
  
                  <!--item 3-->
                  <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
                          Is the information sponsored?
                        </button>
                      </h2>
                      <div id="question-three" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                        <div class="accordion-body">We don't make any money off the content of the site. Sometimes, our sources may have recieved compensation for their original post. We carefully vet content sources before posting on the site and would not post it if we didn't feel it was honest or accurate. Sponsored or otherwise.</div>
                      </div>
                    </div>
  
                    <!--item 4-->
                  <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
                          Why did you create BAMS?
                        </button>
                      </h2>
                      <div id="question-four" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                        <div class="accordion-body">If you search for financial blogs for young adults, you get results for millenials. For some reason the older generation thinks that anyone young is a millenial and hasn't realized that the youngest ones are almost 30 but that's besides the point. All of the blogs we found were super spammy and filled with ads. There's good content in there, it's just hard to find. So let us do that for you.</div>
                      </div>
                    </div>
  
                    <!--item 5-->
                  <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-five">
                          I have more questions, how can I contact you?
                        </button>
                      </h2>
                      <div id="question-five" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                        <div class="accordion-body">Feel free to email us directly at bamsflp@gmail.com.</div>
                      </div>
                    </div>
  
                </div>
  
          </div>
      </section>
      <!--QUESTIONS END-->

    {% endblock content %}