
{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <!--SHOWCASE BEGIN-->
    <section class="bg-dark text-light mt-5 p-5 p-lg-0 pt-lg-5 text-center text-sm-start ">
        <div class="container mt-5">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Reach Your Finance Goals</h1>
                    <p class="lead my-5">Relevant, easy-to-access information. <br> No advertisements. No sponsorships. No Bull.</p>
                   <a href="{% url 'register' %}"><button class="btn-secondary btn-lg">Join the Movement</button></a>  <!--need to look up CTAs-->
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'flp_app/Rocket Boy_Flatline.svg/' %}" alt="rocketship"/>
            </div>
        </div>
    </section>
    <!--SHOWCASE END-->

    

    <!--BOXES BEGIN-->
    <section class="pb-1 pt-5">
        <div class="container">
            <div class="row text-center g-4">

                <!--card 1-->
                <div class="col-md">
                    <div class="card bg-primary text-light rounded-3">
                        <div class="card-body text-center">
                            <div class="h1 mb-1">
                                <i class="bi bi-ui-checks"></i>
                            </div>
                            <h3 class="card-title mb-3">Our Picks For You</h3>
                                <p class="card-text">
                                    We've searched the internet high and low to find the best of the best.
                                </p>
                               <a href="{% url 'credit-cards-ranking' %}" class="btn btn-outline-light">See Our Rankings</a> 
                        </div>
                    </div>
                </div>
                <!--card 2-->
                <div class="col-md">
                    <div class="card bg-secondary text-light rounded-3">
                        <div class="card-body text-center">
                            <div class="h1 mb-1">
                                <i class="bi bi-calculator"></i>
                            </div>
                            <h3 class="card-title mb-3">Stay on Track</h3>
                                <p class="card-text">
                                    See where you stand in seconds. Get insights before making your next big purchase.
                                </p>
                               <a href="{% url 'calculators' %}" class="btn btn-outline-primary">Try Out Our Calculators</a> 
                        </div>
                    </div>
                </div>
                <!--card 3-->
                <div class="col-md">
                    <div class="card bg-dark text-light rounded-3">
                        <div class="card-body text-center">
                            <div class="h1 mb-1">
                                <i class="bi bi-menu-up"></i>
                            </div>
                            <h3 class="card-title mb-3">Get Tips and Tricks</h3>
                                <p class="card-text">
                                    Just stuff that matters with no extra fluff. Learn about money in a straight to the point way.
                                </p>
                               <a href="{% url 'blog' %}" class="btn btn-outline-primary">Read Our Blog</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--BOXES END-->

    <!--LEARN SECTIONS BEGIN-->
    <section id="learn" class="">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="{% static 'flp_app/Piggy bank_Flatline.svg/' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5">
                    <h2>We're calling you out.</h2>
                    <p class="lead">
                        Moving a set amount of each paycheck into a savings account is the most popular way to budget but only 35% of Gen Z use this method.
                    </p>
                    <p>Saving doesn't have to be hard or even something you think about. Even if it's just a couple of dollars, your future self will thank you. Read a few tips and options to save and grow your money.</p>
                    <a href="{% url 'spendsave-posts' %}" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i> Savings Blog</a>
                </div>
            </div>
        </div>
    </section>

    <section id="learn" class="p-5 bg-secondary text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
               
                <div class="col-md p-5">
                    <h2>Saving doesn't have to be hard.</h2>
                    <p class="lead">
                        Even if it feels easy for a while. It's all fun and games until the PS5 drops and then your rainy day fund is back at square one.
                    </p>
                    <p>We know because we've been there. While we can't help with the self-discipline it takes to save, we can help out with getting more money into that savings account.</p>
                    <a href="{% url 'tips-posts' %}" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i> Tips and Tricks Blog</a>
                </div>
                <div class="col-md">
                    <img src="{% static 'flp_app/Wallet_Flatline.svg/' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--LEARN SECTIONS END-->


    <!--QUESTIONS BEGIN-->
    <section id="questions" class="p-5"> 
        <div class="container">
            <h2 class="text-center mb-4">Frequently Asked Questions</h2>
            <div class="accordion accordion-flush" id="questions">

                <!--item 1-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                      What is BAMS all about?
                    </button>
                  </h2>
                  <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                    <div class="accordion-body">Today there are many members of Generation Z that are not financially educated. This can lead to putting off major life milestones due to lack of financial stability. BAMS aims to help not only members of Gen Z gain useful information about finance but users of all ages who would like to learn about money management. Just click the register button and start learning!</div>
                  </div>
                </div>

                <!--item 2-->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
                        Does it cost money to use BAMS?
                      </button>
                    </h2>
                    <div id="question-two" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                      <div class="accordion-body">No not at all. All of our information is free to access. You'll just need to create an account if you want to bookmark posts.</div>
                    </div>
                  </div>

                <!--item 3-->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
                        Is the information sponsored?
                      </button>
                    </h2>
                    <div id="question-three" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                      <div class="accordion-body">We don't make any money off the content of the site. Sometimes, our sources may have recieved compensation for their original post. We carefully vet content sources before posting on the site and would not post it if we didn't feel it was honest or accurate. Sponsored or otherwise.</div>
                    </div>
                  </div>

                   <!--item 4-->
                   <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
                        Why did you create BAMS?
                      </button>
                    </h2>
                    <div id="question-four" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                      <div class="accordion-body">If you search for financial blogs for young adults, you get results for millenials. For some reason the older generation thinks that anyone young is a millenial and hasn't realized that the youngest ones are almost 30 but that's besides the point. All of the blogs we found were super spammy and filled with ads. There's good content in there, it's just hard to find. So let us do that for you.</div>
                    </div>
                  </div>

                  <!--item 5-->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-five">
                        I have more questions, how can I contact you?
                      </button>
                    </h2>
                    <div id="question-five" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                      <div class="accordion-body">Feel free to email us directly at bamsflp@gmail.com.</div>
                    </div>
                  </div>

              </div>

        </div>
    </section>
    <!--QUESTIONS END-->


    <!--TEAM START-->
    <section id="team" class="p-5 bg-primary">
     <div class="container">
        <h2 class="text-center text-white">Meet the Team</h2>
        <p class="lead text-center text-white mb-5">Not financial advisors, just developers that may or may not know what we're doing.</p>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="card bg-light rounded-3">
                    <div class="card-body text-center">
                        <img src="{% static 'flp_app/alan.jpg/' %}" class="rounded-circle mb-3 " alt=""/>
                        <h3 class="card-title mb-3">Alan Lawrence</h3>
                        <!--<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam perspiciatis tempora illum nisi aut?</p>-->
                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="https://github.com/alanmlawrence01"><i class="bi bi-github text-dark mx-1"></i></a>
                        <a href="https://www.linkedin.com/in/alan-lawrence-35b355b9/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card bg-light rounded-3">
                    <div class="card-body text-center">
                        <img src="{% static 'flp_app/brittinee.jpg/' %}" class="rounded-circle mb-3" alt=""/>
                        <h3 class="card-title mb-3">Brittinee Spradling</h3>
                        <!--<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam perspiciatis tempora illum nisi aut?</p>-->
                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-github text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="card bg-light">
                    <div class="card-body text-center rounded-3">
                        <img src="{% static 'flp_app/Steph.jpg/' %}" class="rounded-circle mb-3"/>
                        <h3 class="card-title mb-3">Steph Allen</h3>
                        <!--<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam perspiciatis tempora illum nisi aut?</p>-->
                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="https://github.com/cowboybleepbloop"><i class="bi bi-github text-dark mx-1"></i></a>
                        <a href="https://www.linkedin.com/in/stephanie-allen-norris-3770711ba/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="https://portfolium.com/StephanieAllen25"><i class="bi bi-easel text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
     </div>
    </section>
     <!--TEAM END-->

     <!--CONTACT START we don't really need this and I can't get the map to work anyway
        <section class="p-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-md">
                        <h2 class="text-center mb-4">Contact Info</h2>
                         <ul class="list-group list-group-flush lead">
                             <li class="list-group-item">
                                 <span class="fw-bold">Main Location: </span>
                                 9393 Lightwave Ave, San Diego, CA 92123
                             </li>
                             <li class="list-group-item">
                                <span class="fw-bold">Phone: </span>
                                ‪(858) 859-0096
                            </li>
                            <li class="list-group-item">
                                <span class="fw-bold">Email: </span>
                                bamsflp@gmail.com
                            </li>
                         </ul>
                    </div>
                    <div class="col-md">
                        <div id="map" style='width: 400px; height: 300px;'></div>
                    </div>
                </div>
            </div>
        </section>
     CONTACT END-->


{% endblock content %}