{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Renter's Insurance</h1>
        </div>
        </div>
    </section>
    </header>


<div class="container">  

    <p class="text-muted">Last Updated: 9/6/2021</p>
    <div class="p-5 my-4 bg-light rounded-3">
        
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Protect your place and protect your stuff</h1>
          <p class="col-md-8 fs-4">Whether you're in a dormroom, apartment, or your parent's place, if you're paying rent, it's time for renter's insurance.</p>
          <a href="#" ><button class="btn btn-primary" type="button"><i class="bi bi-chevron-right"></i> Read all about renter's insurance</button></a>
        </div>
      </div>

    <!--Rank 1-->  
    <section id="rank1" class="">
        
            <div class="mt-1  rounded-3">
            <div class="row align-items-center bg-light justify-content-between">

                <div class="col-md text-center">
                    <a href="https://www.ace.aaa.com/insurance/home-insurance.html"><img src="{% static 'flp_app/aaa.jpg/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
                </div>
                <div class="col-md py-3 px-5 mb-2">
                    <h2 class="text-center">AAA</h2>
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="https://www.ace.aaa.com/insurance/home-insurance.html" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h6 class="mt-3">AAA is most known for it's roadside assistance and auto insurance programs. 
                              <br>  <br> 
                              However, AAA also offers a full suite of insurance products, including renters insurance. 
                              <br>  <br> 
                              If you're already taking advantage of auto insurance through AAA, it could make sense to see if you could save even more by adding in renters insurance. </h6>
                          </div>
                        </a>
                    </div>
                    
                    <!---->
                    <a href="https://www.ace.aaa.com/insurance/home-insurance.html" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>
            </div>
          
            </div>
        
    </section>

    <!--Rank 2-->  
    <section id="rank2" class="">
     
            <div class=" my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
               
              <div class="col-md py-3 px-5 mb-2">
                    <h2 class="text-center">Allstate</h2>
                    
                     <!--List Group-->

                     <div class="list-group mt-2">

                        
                        <a href="https://www.allstate.com/renters-insurance.aspx" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h6 class="mt-3">Allstate is one of our top picks for renters insurance because they offer a great product at reasonable prices. 
                              <br><br>
                              They are one of the most well known insurance companies, and offer a full suite of insurance products that can match your needs.
                              <br><br>
                              We think that Allstate is best for people combining their auto and renters insurance policies.</h6>
                            
                          </div>
                        </a>
                      </div>
                    
                    <!---->
                    
                    <a href="https://www.allstate.com/renters-insurance.aspx" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <a href="https://www.allstate.com/renters-insurance.aspx"><img src="{% static 'flp_app/allstate.png/' %}" style="height: 280px" class="img-fluid" alt=""></a>
                </div>
                </div>
            </div>
    </section>

    <!--Rank 3-->  
    <section id="rank3" class="">
        
      <div class="mt-1  rounded-3">
      <div class="row align-items-center bg-light justify-content-between">

          <div class="col-md text-center">
              <a href="https://www.esurance.com/insurance/renters-insurance"><img src="{% static 'flp_app/esurance.png/' %}" style="height: 280px;" class="img-fluid" alt=""></a>
          </div>
          <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">Esurance</h2>
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.esurance.com/insurance/renters-insurance" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">Esurance is a popular choice for renters insurance as they were one of the first companies to advertise that you could do everything online. 
                        <br>  <br> 
                        They have full service renters insurance that even pays for you to live if you have to leave your apartment and your landlord doesn't cover everything. 
                        <br>  <br> 
                        They currently advertise that their average customer pays $14 per month for renters insurance. </h6>
                    </div>
                  </a>
              </div>
              
              <!---->
              <a href="https://www.esurance.com/insurance/renters-insurance" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>
      </div>
    
      </div>
  
    </section>

    <!--Rank 4-->  
    <section id="rank4" class="">
        
      <div class="my-1 rounded-3">
      <div class="row align-items-center bg-light justify-content-between">
        
        <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">Farmers</h2>
              
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.farmers.com/renters/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">Farmers offers renters insurance as one of their many product offerings.
                        <br><br>
                        They offer a wide variety of renters insurance options, including liability coverage and more.
                        <br><br>
                        They even advertise that their renters insurance will help you with personal liability if needed.</h6>
                      
                    </div>
                  </a>
                </div>
              
              <!---->
              
              <a href="https://www.farmers.com/renters/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>

          
          <div class="col-md text-center">
              <a href="https://www.farmers.com/renters/"><img src="{% static 'flp_app/farmers.png/' %}" style="height: 200px" class="img-fluid" alt=""></a>
          </div>
          </div>
      </div>
    </section>

    <!--Rank 5-->  
    <section id="rank5" class="">
        
          <div class="mt-1  rounded-3">
          <div class="row align-items-center bg-light justify-content-between">
    
              <div class="col-md text-center">
                  <a href="https://www.geico.com/renters-insurance/"><img src="{% static 'flp_app/GEICO - half-gecko.png/' %}" style="height: 280px;" class="img-fluid" alt=""></a>
              </div>
              <div class="col-md py-3 px-5 mb-2">
                  <h2 class="text-center">Geico</h2>
                  <!--List Group-->
    
                  <div class="list-group mt-2">
    
                      
                      <a href="https://www.geico.com/renters-insurance/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mt-3">Geico is most well known for it's car insurance (and it's Gecko mascot), but Geico also offers renters insurance and more.
                            <br>  <br> 
                            The great thing about Geico is that if you have their auto insurance, you can get a mutli-policy discount and save even more money (or maybe even get your renters insurance for free).
                            <br>  <br> 
                            While they don't advertise their rates, we expect them to be pretty low. </h6>
                        </div>
                      </a>
                  </div>
                  
                  <!---->
                  <a href="https://www.geico.com/renters-insurance/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
              </div>
          </div>
        
          </div>
      
    </section>

    <!--Rank 6-->  
    <section id="rank6" class="">
        
      <div class="my-1 rounded-3">
      <div class="row align-items-center bg-light justify-content-between">
        
        <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">Jetty</h2>
              
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.jetty.com/renters-insurance/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">Jetty is a startup that is working to change the renting game.
                        <br><br>
                        They offer an innovative platform that allows you to get renters insurance as well as security deposit insurance and lease guarantor services.
                        <br><br>
                        If you need someone to cosign your lease, Jetty can help with that.</h6>
                      
                    </div>
                  </a>
                </div>
              
              <!---->
              
              <a href="https://www.jetty.com/renters-insurance/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>

          
          <div class="col-md text-center">
              <a href="https://www.jetty.com/renters-insurance/"><img src="{% static 'flp_app/jetty.png/' %}" style="height: 200px" class="img-fluid" alt=""></a>
          </div>
          </div>
      </div>
    </section>

    <!--Rank 7-->  
    <section id="rank7" class="">
        
      <div class="mt-1  rounded-3">
      <div class="row align-items-center bg-primary justify-content-between">

          <div class="col-md text-center">
              <a href="https://www.lemonade.com/renters"><img src="{% static 'flp_app/lemonade.png/' %}" style="height: 120px;" class="img-fluid" alt=""></a>
          </div>
          <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">Lemonade - Our #1 Pick</h2>
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.lemonade.com/renters" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">Lemonade is another startup that is looking to change the insurance space. They offer app-based renters and homeowners insurance. They also advertise that you can get renters insurance for as low as $5 per month, and homeowners insurance from as low as $35.
                        <br>  <br> 
                        They are one of our top picks for renters insurance because of their low rates and easy to use app.
                        <br>  <br> 
                        They also attempt to make insurance claims very easy by having it all done on the app - and they claim that you can even get paid in $3 minutes in some situations.</h6>
                    </div>
                  </a>
              </div>
              
              <!---->
              <a href="https://www.lemonade.com/renters" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>
      </div>
    
      </div>
  
    </section>

    <!--Rank 8-->  
    <section id="rank8" class="">
        
      <div class="my-1 rounded-3">
      <div class="row align-items-center bg-light justify-content-between">
        
        <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">Liberty Mutual </h2>
              
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.libertymutual.com/property-insurance/renters" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">Liberty Mutual is a long time favorite of ours for renters insurance, as they've been doing it for a long time and have great rates.
                        <br><br>
                        You can get a lot of different options with your Liberty Mutual renters insurance, but make sure you only get what you need.
                        <br><br>
                        You can also combine policies to get a multi-policy discount if you have other insurance with Liberty Mutual.</h6>
                      
                    </div>
                  </a>
                </div>
              
              <!---->
              
              <a href="https://www.libertymutual.com/property-insurance/renters" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>

          
          <div class="col-md text-center">
              <a href="https://www.libertymutual.com/property-insurance/renters"><img src="{% static 'flp_app/libertymutual.svg/' %}" style="height: 200px" class="img-fluid" alt=""></a>
          </div>
          </div>
      </div>
    </section>

    <!--Rank 9-->  
    <section id="rank9" class="">
        
      <div class="mt-1  rounded-3">
      <div class="row align-items-center bg-light justify-content-between">

          <div class="col-md text-center">
              <a href="https://www.nationwide.com/personal/insurance/renters/"><img src="{% static 'flp_app/nationwide.png/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
          </div>
          <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">Nationwide</h2>
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.nationwide.com/personal/insurance/renters/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">Nationwide is a popular insurance company that has been made famous from it's celebrity endorsements on TV commercials.
                        <br>  <br> 
                        However, they also offer renters insurance to compliment all their other product offerings. 
                        <br>  <br> 
                        Nationwide doesn't advertise it's rates, but we can assume they are competitive to most of the other companies on this list. They do say that they focus on bundling insurance, so that you can save even more with a multi-policy discount. </h6>
                    </div>
                  </a>
              </div>
              
              <!---->
              <a href="https://www.nationwide.com/personal/insurance/renters/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>
      </div>
    
      </div>
  
    </section>

    <!--Rank 10-->  
    <section id="rank10" class="">
        
      <div class="my-1 rounded-3">
      <div class="row align-items-center bg-light justify-content-between">
        
        <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">Progressive</h2>
              
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.progressive.com/renters/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">Progressive is another popular car insurance company that also offers renters insurance.
                        <br><br>
                        This can be a great deal if you already use Progressive for car insurance, because if you bundle, you can save a lot of money.
                        <br><br>
                        Progressive's renters insurance policies can protect your belongings, protect you against lawsuits, and even help pay for temporary living expenses.</h6>
                      
                    </div>
                  </a>
                </div>
              
              <!---->
              
              <a href="https://www.progressive.com/renters/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>

          
          <div class="col-md text-center">
              <a href="https://www.progressive.com/renters/"><img src="{% static 'flp_app/progressive-logo.png/' %}" style="height: 200px" class="img-fluid" alt=""></a>
          </div>
          </div>
      </div>
    </section>

    <!--Rank 11-->  
    <section id="rank11" class="">
        
      <div class="mt-1  rounded-3">
      <div class="row align-items-center bg-light justify-content-between">

          <div class="col-md text-center">
              <a href="https://www.statefarm.com/insurance/home-and-property/renters"><img src="{% static 'flp_app/statefarm.png/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
          </div>
          <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">State Farm</h2>
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.statefarm.com/insurance/home-and-property/renters" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">State Farm is another popular insurance company that's most well known for home owners insurance, but also has renters insurance policies.
                        <br>  <br> 
                        As a result, the renters insurance seems like an after thought for the company as the site to apply is hard to navigate and find information.
                        <br>  <br> 
                        State Farm does have an app that can help you with your rental experience, but we're not quite sure how it connects to their renter insurance policy. </h6>
                    </div>
                  </a>
              </div>
              
              <!---->
              <a href="https://www.statefarm.com/insurance/home-and-property/renters" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>
      </div>
    
      </div>
  
    </section>

    <!--Rank 12-->  
    <section id="rank12" class="">
        
      <div class="my-1 rounded-3">
      <div class="row align-items-center bg-light justify-content-between">
        
        <div class="col-md py-3 px-5 mb-2">
              <h2 class="text-center">USAA</h2>
              
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="https://www.usaa.com/inet/wc/insurance_home_renters?wa_ref=pub_global_products_ins_renters" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mt-3">USAA is another great choice for renters insurance.
                        <br><br>
                        The big drawback to USAA is that you have to be a member - and that requires that you serve in the military or are a dependent.
                        <br><br>
                        USAA offers renters insurance for as low as $5 per month. You can also combine this with other insurance and get a multi-policy discount - which could save you more than the cost of the renters insurance, making it free.</h6>
                      
                    </div>
                  </a>
                </div>
              
              <!---->
              
              <a href="https://www.usaa.com/inet/wc/insurance_home_renters?wa_ref=pub_global_products_ins_renters" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>

          
          <div class="col-md text-center">
              <a href="https://www.usaa.com/inet/wc/insurance_home_renters?wa_ref=pub_global_products_ins_renters"><img src="{% static 'flp_app/USAA-Emblem.png/' %}" style="height: 250px" class="img-fluid" alt=""></a>
          </div>
          </div>
      </div>
    </section>

    <p>Information source: The College Investor</p>
   
    <button class="btn btn-sm btn-outline-primary mb-4"><a href="https://thecollegeinvestor.com/7815/renters-insurance/"></a>Read Article</button>

</div>  
{% endblock content %}