{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Best Rewards Credit Cards</h1>
        </div>
        </div>
    </section>
    </header>


<div class="container">  

    <p class="text-muted">Last Updated: 9/6/2021</p>

    <!--Rank 1-->  
    <section id="rank1" class="">
        
            <div class="p-5 mt-1  rounded-3">
            <div class="row align-items-center bg-light justify-content-between">

                <div class="col-md text-center">
                    <img src="{% static 'flp_app/wf_active_cash.png/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5 mb-2">
                    <h2 class="text-center">Wells Fargo Active Cash℠ Card</h2>
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="https://creditcards.wellsfargo.com/active-cash-credit-card/?sub_channel=SEO&vendor_code=G" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                          </div>
                        </a>

                        <a href="https://creditcards.wellsfargo.com/active-cash-credit-card/?sub_channel=SEO&vendor_code=G" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Rewards Rate</h5>
                              <p class="mt-3">2%</p>
                            </div>
                          </a>
                        
                          <a href="https://creditcards.wellsfargo.com/active-cash-credit-card/?sub_channel=SEO&vendor_code=G" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro Offer</h5>
                              <p class="mt-3">$200</p>
                            </div>
                          </a>

                          <a href="https://creditcards.wellsfargo.com/active-cash-credit-card/?sub_channel=SEO&vendor_code=G" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">690-850</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    <a href="https://creditcards.wellsfargo.com/active-cash-credit-card/?sub_channel=SEO&vendor_code=G" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                 <!--Accordion-->
                <div class="accordion p-2" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                        Quick Facts
                      </button>
                    </h2>
                    <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingOneOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul>
                          <li>New! Earn a $200 cash rewards bonus after spending $1,000 on purchases in the first 3 months</li>
                          <li>Earn unlimited 2% cash rewards on purchases</li>
                          <li>0% intro APR for 15 months from account opening on purchases and qualifying balance transfers, then a 14.99% to 24.99% variable APR; balance transfers made within 120 days qualify for the intro rate and fee of 3% then a BT fee of up to 5%, min: $5</li>
                          <li>$0 annual fee</li>
                          <li>No category restrictions or sign ups and cash rewards don’t expire as long as your account remains open</li>
                          <li>Enjoy a premium collection of benefits at a selection of the world's most intriguing and prestigious hotel properties with Visa Signature Concierge</li>
                          <li>Get up to $600 protection on your cell phone (subject to $25 deductible) against covered damage or theft when you pay your monthly cellular telephone bill with your Wells Fargo Active Cash℠ Card</li>
                          <li>Select “Apply Now” to learn more about the product features, terms and conditions</li>
                        </ul>
                        <a href="https://creditcards.wellsfargo.com/active-cash-credit-card/?sub_channel=SEO&vendor_code=G">View Rates & Fees</a>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneTwo" aria-expanded="false" aria-controls="collapseOneTwo">
                        Why We Like It
                      </button>
                    </h2>
                    <div id="collapseOneTwo" class="accordion-collapse collapse" aria-labelledby="headingOneTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>The Wells Fargo Active Cash℠ Card offers a combination of features that few other flat-rate cards can match, starting out with a rich and unlimited 2% cash back on every purchase.</p>
                        <ul>
                          <li><strong>Pros: </strong>Aside from the excellent flat cash-back rewards rate, new cardholders also are eligible for a generous sign-up bonus: New! Earn a $200 cash rewards bonus after spending $1,000 on purchases in the first 3 months. There's also an intro APR period. </li>
                          <li><strong>Cons: </strong>There's a foreign transaction fee, common among cash-back credit cards. And you can find cards with richer rates on popular spending categories, if you're willing to put up with their more complex reward structures.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                 <!---->
            </div>
          
            </div>
        
    </section>

    <!--Rank 2-->  
    <section id="rank2" class="">
     
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
               
                <div class="col-md p-5 ">
                    <h2 class="text-center">Citi Custom Cash℠ Card</h2>
                    
                     <!--List Group-->

                     <div class="list-group mt-2">

                        
                        <a href="https://www.citi.com/credit-cards/citi-custom-cash-credit-card" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                          </div>
                        </a>

                        <a href="https://www.citi.com/credit-cards/citi-custom-cash-credit-card" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Rewards Rate</h5>
                              <p class="mt-3">1%-5%</p>
                            </div>
                          </a>
                        
                          <a href="https://www.citi.com/credit-cards/citi-custom-cash-credit-card" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro Offer</h5>
                              <p class="mt-3">$200</p>
                            </div>
                          </a>

                          <a href="https://www.citi.com/credit-cards/citi-custom-cash-credit-card" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">690-850</p>
                            </div>
                          </a>
                      </div>
                    
                    <!---->
                    
                    <a href="https://www.citi.com/credit-cards/citi-custom-cash-credit-card" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <img src="{% static 'flp_app/citi_custom_cash.png/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>

                
                 <!--Accordion-->
                 <div class="accordion p-2" id="accordion2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                          Quick Facts
                        </button>
                      </h2>
                      <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                            <li>Earn $200 in cash back after you spend $750 on purchases in the first 3 months of account opening. This bonus offer will be fulfilled as 20,000 ThankYou® Points, which can be redeemed for $200 cash back.</li>
                            <li>0% Intro APR on balance transfers and purchases for 15 months. After that, the variable APR will be 13.99% - 23.99%, based on your creditworthiness.</li>
                            <li>Earn 5% cash back on purchases in your top eligible spend category each billing cycle, up to the first $500 spent, 1% cash back thereafter. Also, earn unlimited 1% cash back on all other purchases.</li>
                            <li>No rotating bonus categories to sign up for – as your spending changes each billing cycle, your earn adjusts automatically when you spend in any of the eligible categories.</li>
                            <li>No Annual Fee</li>
                            <li>Citi will only issue one Citi Custom Cash℠ Card account per person.</li>
                          </ul>
                          <a href="https://www.citi.com/credit-cards/citi-custom-cash-credit-card">View Rates & Fees</a>
                        </div>
                      </div>
                    </div>
  
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                          Why We Like It
                        </button>
                      </h2>
                      <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>The Citi Custom Cash℠ Card offers a twist on existing 5%-back credit cards: You'll earn 5% back automatically based on your spending habits, not based on rotating quarterly bonus calendars. Terms apply. That makes it a low-maintenance — and potentially valuable — option.</p>
                          <ul>
                            <li><strong>Pros: </strong>This card earns 5% cash back on up to $500 spent in your highest-spend category per billing cycle (from a list of eligible options). And those options happen to be popular spending categories like restaurants, grocery stores, streaming services, select travel expenses and more. There's also a sign-up bonus and an intro APR period, all for an annual fee of $0.</li>
                            <li><strong>Cons: </strong>The monthly spending cap on your 5% rate will limit the amount of cash back you can accrue. And all other spending beyond your one eligible bonus category will earn just 1% back.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                   <!---->

                </div>
            </div>
           
    </section>

    <!--Rank 3-->  
    <section id="rank3" class="">
        
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <img src="{% static 'flp_app/amex_blue_cash.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Blue Cash Preferred® Card from American Express</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.americanexpress.com/us/credit-cards/card/blue-cash-preferred" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0 intro for the first year, then $95</p>
                      </div>
                    </a>

                    <a href="https://www.americanexpress.com/us/credit-cards/card/blue-cash-preferred" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1%-6%</p>
                        </div>
                      </a>
                    
                      <a href="https://www.americanexpress.com/us/credit-cards/card/blue-cash-preferred" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">$350</p>
                        </div>
                      </a>

                      <a href="https://www.americanexpress.com/us/credit-cards/card/blue-cash-preferred" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">690-850</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://www.americanexpress.com/us/credit-cards/card/blue-cash-preferred/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

             <!--Accordion-->
            <div class="accordion p-2" id="accordion3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeOne" aria-expanded="false" aria-controls="collapseThreeOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseThreeOne" class="accordion-collapse collapse" aria-labelledby="headingThreeOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <li>Earn 20% back on Amazon.com purchases on the Card within the first 6 months of Card Membership, up to $200 back.</li>
                      <li>Plus, earn $150 back after you spend $3,000 in purchases on the Card within the first 6 months of Card Membership. You will receive cash back in the form of statement credits.</li>
                      <li>$0 intro annual fee for the first year, then $95.</li>
                      <li>6% Cash Back at U.S. supermarkets on up to $6,000 per year in purchases (then 1%).</li>
                      <li>6% Cash Back on select U.S. streaming subscriptions.</li>
                      <li>3% Cash Back at U.S. gas stations and on transit (including taxis/rideshare, parking, tolls, trains, buses and more).</li>
                      <li>1% Cash Back on other purchases.</li>
                      <li>Low intro APR: 0% for 12 months on purchases from the date of account opening, then a variable rate, 13.99% to 23.99%.</li>
                      <li>Plan It® gives the option to select purchases of $100 or more to split up into monthly payments with a fixed fee.</li>
                      <li>Cash Back is received in the form of Reward Dollars that can be redeemed as a statement credit.</li>
                    </ul>
                    <a href="https://www.americanexpress.com/us/credit-cards/card/blue-cash-preferred/">View Rates & Fees</a>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo" aria-expanded="false" aria-controls="collapseThreeTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseThreeTwo" class="accordion-collapse collapse" aria-labelledby="headingThreeTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>If groceries, gas and/or commuting are among your most common expenses, the Blue Cash Preferred® Card from American Express is a winner. </p>
                    <ul>
                      <li><strong>Pros: </strong>This card offers industry-leading rewards at U.S. supermarkets — 6% cash back on up to $6,000 in spending per year (then 1%) — supplemented by 3% cash back at U.S. gas stations and on transit (including such things as taxis, rideshares, buses, trains, tolls and parking). You also get 6% cash back on select U.S. streaming subscriptions. All other purchases earn 1% back. A welcome bonus adds to the appeal.</li>
                      <li><strong>Cons: </strong>This card has a high annual fee, although if you spend at least $31 a week at U.S. supermarkets, the cash back will offset it. Because it’s from American Express, you might have trouble using it in some places. </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
             <!---->
        </div>
      
        </div>
    
    </section>

    <!--Rank 4-->  
    <section id="rank4" class="">
    
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
            
                <div class="col-md p-5 ">
                    <h2 class="text-center">Discover it® Cash Back</h2>
                    
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="https://www.discover.com/credit-cards/cash-back/it-card.html" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                        </div>
                        </a>

                        <a href="https://www.discover.com/credit-cards/cash-back/it-card.html" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Rewards Rate</h5>
                            <p class="mt-3">1%-5%</p>
                            </div>
                        </a>
                        
                        <a href="https://www.discover.com/credit-cards/cash-back/it-card.html" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Intro Offer</h5>
                            <p class="mt-3">Cashback Match™</p>
                            </div>
                        </a>

                        <a href="https://www.discover.com/credit-cards/cash-back/it-card.html" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Recommended Credit Score</h5>
                            <p class="mt-3">690-850</p>
                            </div>
                        </a>


                    </div>
                    
                    <!---->
                    
                    <a href="https://www.discover.com/credit-cards/cash-back/it-card.html" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <img src="{% static 'flp_app/discover_it_cashback.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>

                
                <!--Accordion-->
                <div class="accordion p-2" id="accordion4">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourOne" aria-expanded="false" aria-controls="collapseFourOne">
                        Quick Facts
                        </button>
                    </h2>
                    <div id="collapseFourOne" class="accordion-collapse collapse" aria-labelledby="headingFourOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <ul>
                          <li>INTRO OFFER: Unlimited Cashback Match – only from Discover. Discover will automatically match all the cash back you’ve earned at the end of your first year! There’s no minimum spending or maximum rewards. You could turn $150 cash back into $300.</li>
                          <li>Earn 5% cash back on everyday purchases at different places each quarter like Amazon.com, grocery stores, restaurants, gas stations and when you pay using PayPal, up to the quarterly maximum when you activate.</li>
                          <li>Plus, earn unlimited 1% cash back on all other purchases - automatically.</li>
                          <li>Redeem cash back in any amount, any time. Rewards never expire.</li>
                          <li>Use your rewards at Amazon.com checkout.</li>
                          <li>#1 Most Trusted Credit Card according to Investor’s Business Daily.</li>
                          <li>No annual fee.</li>
                          <li>Discover is accepted nationwide by 99% of the places that take credit cards.</li>
                        </ul>
                        <a href="https://www.discover.com/credit-cards/cash-back/it-card.html">View Rates & Fees</a>
                        </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTwo" aria-expanded="false" aria-controls="collapseFourTwo">
                        Why We Like It
                        </button>
                    </h2>
                    <div id="collapseFourTwo" class="accordion-collapse collapse" aria-labelledby="headingFourTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <p>The bonus categories, $0 annual fee and new-cardmember bonus make the 0% intro APR for 14 months on purchases and balance transfers, and then the ongoing APR of 11.99% - 22.99% Variable APR.</p>
                          <ul>
                            <li><strong>Pros: </strong>This card has broad bonus categories that you activate each quarter, allowing you to earn 5% cash back at such places as restaurants, grocery stores and gas stations. (The 5% rewards are capped at $1,500 in spending per quarter; after that, you get 1%. There’s also a distinctive sign-up bonus: INTRO OFFER: Unlimited Cashback Match – only from Discover. Discover will automatically match all the cash back you’ve earned at the end of your first year! There’s no minimum spending or maximum rewards. You could turn $150 cash back into $300.</li>
                            <li><strong>Cons: </strong>Keeping track of the changing bonus categories, and remembering to opt in to them every three months, can be a hassle. </li>
                          </ul>
                      </div>
                    </div>
                    </div>
                </div>
                <!---->

                </div>
            </div>
        
    </section>

    <!--Rank 5-->  
    <section id="rank5" class="">
            
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <img src="{% static 'flp_app/citi_double_cash.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Citi® Double Cash Card</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://citicards.citi.com/usc/LPACA/Citi/Cards/DoubleCash/ps/index.html" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0</p>
                      </div>
                    </a>

                    <a href="https://citicards.citi.com/usc/LPACA/Citi/Cards/DoubleCash/ps/index.html" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1%-2%</p>
                        </div>
                      </a>
                    
                      <a href="https://citicards.citi.com/usc/LPACA/Citi/Cards/DoubleCash/ps/index.html" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">N/A</p>
                        </div>
                      </a>

                      <a href="https://citicards.citi.com/usc/LPACA/Citi/Cards/DoubleCash/ps/index.html" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">690-850</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://citicards.citi.com/usc/LPACA/Citi/Cards/DoubleCash/ps/index.html" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

            <!--Accordion-->
            <div class="accordion p-2" id="accordion5">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveOne" aria-expanded="false" aria-controls="collapseFiveOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseFiveOne" class="accordion-collapse collapse" aria-labelledby="headingFiveOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <li>Earn 2% on every purchase with unlimited 1% cash back when you buy, plus an additional 1% as you pay for those purchases.</li>
                      <li>To earn cash back, pay at least the minimum due on time.</li>
                      <li>Balance Transfer Offer: 0% intro APR on Balance Transfers for 18 months. After that, the variable APR will be 13.99% - 23.99%, based on your creditworthiness.</li>
                      <li>Balance Transfers do not earn cash back.</li>
                      <li>If you transfer a balance, interest will be charged on your purchases unless you pay your entire balance (including balance transfers) by the due date each month.</li>
                      <li>There is a balance transfer fee of either $5 or 3% of the amount of each transfer, whichever is greater.</li>
                      <li>The standard variable APR for Citi Flex Plan is 13.99% - 23.99%, based on your creditworthiness. Citi Flex Plan offers are made available at Citi's discretion.</li>
                    </ul>
                    <a href="https://citicards.citi.com/usc/LPACA/Citi/Cards/DoubleCash/ps/index.html"></a>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveTwo" aria-expanded="false" aria-controls="collapseFiveTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseFiveTwo" class="accordion-collapse collapse" aria-labelledby="headingFiveTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                  <p>With the Citi® Double Cash Card – 18 month BT offer, earning cash back is simple and lucrative. If you're looking for a low-hassle cash back card to use daily, this is it.</p>
                  <ul>
                    <li><strong>Pros: </strong>The value in this card is pretty much all in its stellar rewards rate: 2% cash back on purchases — 1% when you buy something, and 1% when you pay it off.  </li>
                    <li><strong>Cons: </strong>Other cards offer higher cash back percentages in specific categories. And this offer does not include a sign-up bonus.</li>
                  </ul>
                  </div>
                </div>
              </div>
            </div>
            <!---->
        </div>
      
        </div>

    </section>

    <!--Rank 6-->  
    <section id="rank6" class="">

        <div class="p-5 my-1 rounded-3">
        <div class="row align-items-center bg-light justify-content-between">
          
            <div class="col-md p-5 ">
                <h2 class="text-center">Bank of America® Premium Rewards® Card</h2>
                
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.bankofamerica.com/credit-cards/products/premium-rewards-credit-card/" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$95</p>
                      </div>
                    </a>

                    <a href="https://www.bankofamerica.com/credit-cards/products/premium-rewards-credit-card/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1.5x-2x Points</p>
                        </div>
                      </a>
                    
                      <a href="https://www.bankofamerica.com/credit-cards/products/premium-rewards-credit-card/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">50,000 Points</p>
                        </div>
                      </a>

                      <a href="https://www.bankofamerica.com/credit-cards/products/premium-rewards-credit-card/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">690-850</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                
                <a href="https://www.bankofamerica.com/credit-cards/products/premium-rewards-credit-card/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

            
            <div class="col-md text-center">
                <img src="{% static 'flp_app/boa_premium_rewards.png/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>

            
            <!--Accordion-->
            <div class="accordion p-2" id="accordion6">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixOne" aria-expanded="false" aria-controls="collapseSixOne">
                      Quick Facts
                    </button>
                  </h2>
                  <div id="collapseSixOne" class="accordion-collapse collapse" aria-labelledby="headingSixOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <li>Receive 50,000 online bonus points - a $500 value - after you make at least $3,000 in purchases in the first 90 days of account opening</li>
                        <li>Earn unlimited 2 points for every $1 you spend on travel and dining purchases. Plus, earn 2 points for every $1 spent on grocery store purchases – now through 12/31/21</li>
                        <li>Earn 1.5 points for every $1 you spend on all other purchases. No limit to the points you can earn and your points don't expire</li>
                        <li>If you're a Bank of America Preferred Rewards member, you can earn 25%-75% more points on every purchase. That means you could earn up to 3.5 points for every $1 spent on travel and dining purchases.</li>
                        <li>Redeem for cash back as a statement credit, deposit into eligible Bank of America® accounts, credit to eligible Merrill® accounts, or gift cards or purchases at the Bank of America Travel Center</li>
                        <li>Get up to $100 in Airline Incidental Statement Credits annually and TSA Pre✓®/Global Entry Statement Credits of up to $100, every four years</li>
                        <li>No Foreign Transaction Fees</li>
                        <li>Low $95 annual fee</li>
                        <li>This online only offer may not be available if you leave this page or if you visit a Bank of America financial center. You can take advantage of this offer when you apply now.</li>
                      </ul>
                      <a href="https://www.bankofamerica.com/credit-cards/products/premium-rewards-credit-card/">View Rates & Fees</a>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTwo" aria-expanded="false" aria-controls="collapseSixTwo">
                      Why We Like It
                    </button>
                  </h2>
                  <div id="collapseSixTwo" class="accordion-collapse collapse" aria-labelledby="headingSixTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>The rewards rates on the Bank of America® Premium Rewards® credit card are roughly in line with what's available on other cards in its class, but if you have enough money in Bank of America® or Merrill accounts, those rates get supercharged by as much as 75%. </p>
                      <ul>
                        <li><strong>Pros: </strong>The card pays 2 points per dollar spent on travel and dining and 1.5 points per dollar on other purchases. Members of the issuer's Preferred Rewards program can boost those rates by 25%, 50% or 75%. There's a great sign-up bonus and travel credits that help offset the $95 annual fee.  </li>
                        <li><strong>Cons: </strong>Preferred Rewards is easier said than won: You'll need at least $20,000 in eligible accounts to qualify for the lowest tier — a 25% rewards boost. Qualifying for the 50% or 75% boost requires account balances of at least $50,000 or $100,000, respectively. </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!---->

            </div>
        </div>
      
    </section>

    <p>Information source: Nerd Wallet</p>
   
    <button class="btn btn-sm btn-outline-primary mb-4"><a href="https://www.nerdwallet.com/best/credit-cards/rewards"></a>Read Article</button>

</div>  
{% endblock content %}