{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Best Student Credit Cards</h1>
        </div>
        </div>
    </section>
    </header>


<div class="container">  

    <p class="text-muted">Last Updated: 1/1/1</p>

  <!--Rank 1-->  

    <section id="rank1" class="">
        
            <div class="p-5 mt-1  rounded-3">
            <div class="row align-items-center bg-light justify-content-between">

                <div class="col-md">
                    <img src="{% static 'flp_app/decide.svg/' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5 mb-2">
                    <h2 class="text-center">Company Name Student Card</h2>
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0000</p>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Rewards Rate</h5>
                              <p class="mt-3">$0000</p>
                            </div>
                          </a>
                        
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro Offer</h5>
                              <p class="mt-3">$0000</p>
                            </div>
                          </a>

                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">$0000</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    <a href="#" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                 <!--Accordion-->
                <div class="accordion p-2" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                        Quick Facts
                      </button>
                    </h2>
                    <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingOneOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneTwo" aria-expanded="false" aria-controls="collapseOneTwo">
                        Why We Like It
                      </button>
                    </h2>
                    <div id="collapseOneTwo" class="accordion-collapse collapse" aria-labelledby="headingOneTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                </div>
                 <!---->
            </div>
          
            </div>
        
    </section>

    <!--Rank 2-->  
    <section id="rank2" class="">
     
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
               
                <div class="col-md p-5 ">
                    <h2 class="text-center">Company Name Student Card</h2>
                    
                     <!--List Group-->

                     <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0000</p>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Rewards Rate</h5>
                              <p class="mt-3">$0000</p>
                            </div>
                          </a>
                        
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro Offer</h5>
                              <p class="mt-3">$0000</p>
                            </div>
                          </a>

                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">$0000</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    
                    <a href="#" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md">
                    <img src="{% static 'flp_app/growing.svg/' %}" class="img-fluid" alt="">
                </div>

                
                 <!--Accordion-->
                 <div class="accordion p-2" id="accordion2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                          Quick Facts
                        </button>
                      </h2>
                      <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
  
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                          Why We Like It
                        </button>
                      </h2>
                      <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                  </div>
                   <!---->

                </div>
            </div>
           
    </section>
    <!--Rank 3-->  
    <section id="rank3" class="">
        
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md">
                <img src="{% static 'flp_app/decide.svg/' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Company Name Student Card</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0000</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">$0000</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">$0000</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">$0000</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="#" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

             <!--Accordion-->
            <div class="accordion p-2" id="accordion3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeOne" aria-expanded="false" aria-controls="collapseThreeOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingThreeOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo" aria-expanded="false" aria-controls="collapseThreeTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseThreeTwo" class="accordion-collapse collapse" aria-labelledby="headingThreeTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
            </div>
             <!---->
        </div>
      
        </div>
    
</section>
    <!--Rank 4-->  
    <section id="rank4" class="">
    
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
            
                <div class="col-md p-5 ">
                    <h2 class="text-center">Company Name Student Card</h2>
                    
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0000</p>
                        </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Rewards Rate</h5>
                            <p class="mt-3">$0000</p>
                            </div>
                        </a>
                        
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Intro Offer</h5>
                            <p class="mt-3">$0000</p>
                            </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Recommended Credit Score</h5>
                            <p class="mt-3">$0000</p>
                            </div>
                        </a>


                    </div>
                    
                    <!---->
                    
                    <a href="#" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md">
                    <img src="{% static 'flp_app/growing.svg/' %}" class="img-fluid" alt="">
                </div>

                
                <!--Accordion-->
                <div class="accordion p-2" id="accordion4">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourOne" aria-expanded="false" aria-controls="collapseFourOne">
                        Quick Facts
                        </button>
                    </h2>
                    <div id="collapseFourOne" class="accordion-collapse collapse" aria-labelledby="headingFourOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTwo" aria-expanded="false" aria-controls="collapseFourTwo">
                        Why We Like It
                        </button>
                    </h2>
                    <div id="collapseFourTwo" class="accordion-collapse collapse" aria-labelledby="headingFourTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                    </div>
                </div>
                <!---->

                </div>
            </div>
        
    </section>

<!--Rank 5-->  
<section id="rank5" class="">
        
    <div class="p-5 mt-1  rounded-3">
    <div class="row align-items-center bg-light justify-content-between">

        <div class="col-md">
            <img src="{% static 'flp_app/decide.svg/' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md p-5 mb-2">
            <h2 class="text-center">Company Name Student Card</h2>
            <!--List Group-->

            <div class="list-group mt-2">

                
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-3">Annual Fee</h5>
                    <p class="mt-3">$0000</p>
                  </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Rewards Rate</h5>
                      <p class="mt-3">$0000</p>
                    </div>
                  </a>
                
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Intro Offer</h5>
                      <p class="mt-3">$0000</p>
                    </div>
                  </a>

                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Recommended Credit Score</h5>
                      <p class="mt-3">$0000</p>
                    </div>
                  </a>


              </div>
            
            <!---->
            <a href="#" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
        </div>

         <!--Accordion-->
        <div class="accordion p-2" id="accordion5">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveOne" aria-expanded="false" aria-controls="collapseFiveOne">
                Quick Facts
              </button>
            </h2>
            <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingFiveOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveTwo" aria-expanded="false" aria-controls="collapseFiveTwo">
                Why We Like It
              </button>
            </h2>
            <div id="collapseFiveTwo" class="accordion-collapse collapse" aria-labelledby="headingFiveTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
         <!---->
    </div>
  
    </div>

</section>
<!--Rank 6-->  
<section id="rank6" class="">

    <div class="p-5 my-1 rounded-3">
    <div class="row align-items-center bg-light justify-content-between">
       
        <div class="col-md p-5 ">
            <h2 class="text-center">Company Name Student Card</h2>
            
             <!--List Group-->

             <div class="list-group mt-2">

                
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-3">Annual Fee</h5>
                    <p class="mt-3">$0000</p>
                  </div>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Rewards Rate</h5>
                      <p class="mt-3">$0000</p>
                    </div>
                  </a>
                
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Intro Offer</h5>
                      <p class="mt-3">$0000</p>
                    </div>
                  </a>

                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Recommended Credit Score</h5>
                      <p class="mt-3">$0000</p>
                    </div>
                  </a>


              </div>
            
            <!---->
            
            <a href="#" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
        </div>

        
        <div class="col-md">
            <img src="{% static 'flp_app/growing.svg/' %}" class="img-fluid" alt="">
        </div>

        
         <!--Accordion-->
         <div class="accordion p-2" id="accordion6">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSixOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixOne" aria-expanded="false" aria-controls="collapseSixOne">
                  Quick Facts
                </button>
              </h2>
              <div id="collapseSixOne" class="accordion-collapse collapse" aria-labelledby="headingSixOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSixTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTwo" aria-expanded="false" aria-controls="collapseSixTwo">
                  Why We Like It
                </button>
              </h2>
              <div id="collapseSixTwo" class="accordion-collapse collapse" aria-labelledby="headingSixTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
           <!---->

        </div>
    </div>
   
</section>

</div>  
{% endblock content %}