{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Best Student Loans</h1>
        </div>
        </div>
    </section>
    </header>


<div class="container">  

    <p class="text-muted">Last Updated: 9/7/2021</p>
    <div class="p-5 my-4 bg-light rounded-3">
        
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">For you, your parents, or both </h1>
          <p class="col-md-8 fs-4">Use federal loans first. Once you've used that, come view this list to compare private loans.</p>

          <a href="#" ><button class="btn btn-primary" type="button"><i class="bi bi-chevron-right"></i> Read About Federal vs. Private Loans</button></a>
          <p class="col-md-8 fs-4 mt-4">You may want to look into private student loans if:</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">You have already completed the Free Application for Federal Student Aid, known as the FAFSA, to see if you’re eligible for federal grants, work-study and federal loans.</li>
            <li class="list-group-item">You have already borrowed the maximum in both subsidized and unsubsidized federal student loans.</li>
            <li class="list-group-item">You have good credit or a co-signer who does. Most private student loan borrowers have a co-signer.</li>
            <li class="list-group-item">You borrow only what you need.</li>
          </ul>
        </div>
      </div>

    <!--Rank 1-->  
    <section id="rank1" class="">
        
            <div class="py-5 mt-1  rounded-3">
            <div class="row align-items-center bg-light justify-content-between">

                <div class="col-md text-center">
                   <a href="https://college.ascentfunding.com/application"><img src="{% static 'flp_app/Ascent_Logo_Credit-BasedCosigned.svg/' %}"  style="height: 150px;" class="img-fluid" alt=""></a> 
                </div>
                <div class="col-md p-5 mb-2">
                    <h2 class="text-center">Ascent Co-signed Student Loan</h2>
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="https://college.ascentfunding.com/application" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Minimum Credit Score</h5>
                            <p class="mt-3">540</p>
                          </div>
                        </a>

                        <a href="https://college.ascentfunding.com/application" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Fixed APR</h5>
                              <p class="mt-3">3.26 - 11.42%</p>
                            </div>
                          </a>
                        
                          <a href="https://college.ascentfunding.com/application" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Variable APR</h5>
                              <p class="mt-3">1.85 - 9.60%</p>
                            </div>
                          </a>

                    


                      </div>
                    
                    <!---->
                    <a href="https://college.ascentfunding.com/application" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
                </div>

                 <!--Accordion-->
                <div class="accordion p-2" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                        Quick Facts
                      </button>
                    </h2>
                    <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingOneOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                       <p><strong>Key facts</strong></p>
                       <p>Best for students with a creditworthy co-signer.</p>
                       <br>
                       <p><strong>Qualifications</strong></p>
                       <ul>
                         <li>Typical credit score of approved borrowers: Did not disclose.</li>
                         <li>Minimum income: $0 for primary borrower. $24,000 for current and previous year for co-signer.</li>
                         <li>Loan amounts: $1,000 to $200,000 per year with an aggregate loan limit of $200,000.</li>
                       </ul>
                       <br>
                       <p><strong>Available Term Lengths</strong></p>
                       <p>5, 7, 10, 12 or 15 years</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneTwo" aria-expanded="false" aria-controls="collapseOneTwo">
                        Why We Like It
                      </button>
                    </h2>
                    <div id="collapseOneTwo" class="accordion-collapse collapse" aria-labelledby="headingOneTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul>
                          <p><strong>Pros: </strong></p>
                          <li>Among the best for payment flexibility.</li>
                          <li>You can see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                          <li>Stands out for features that enable faster loan repayment.</li>
                          <br>
                          <p><strong>Cons: </strong></p>
                          <li>Students enrolled less than half-time are not eligible. </li>
                          <li>Co-signer release not available to international students.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                 <!---->
            </div>
          
            </div>
        
    </section>

    <!--Rank 2-->  
    <section id="rank2" class="">
     
            <div class="py-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
               
                <div class="col-md p-5 ">
                    <h2 class="text-center">Sallie Mae Private Student Loan</h2>
                    
                     <!--List Group-->

                     <div class="list-group mt-2">

                        
                        <a href="https://ww2.salliemae.com/landing/student-loans" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Minimum Credit Score</h5>
                            <p class="mt-3">Mid-600's</p>
                          </div>
                        </a>

                        <a href="https://ww2.salliemae.com/landing/student-loans" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Fixed APR</h5>
                              <p class="mt-3">3.50 - 12.60%</p>
                            </div>
                          </a>
                        
                          <a href="https://ww2.salliemae.com/landing/student-loans" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Variable APR</h5>
                              <p class="mt-3">1.13 - 11.23%</p>
                            </div>
                          </a>

                          


                      </div>
                    
                    <!---->
                    
                    <a href="https://ww2.salliemae.com/landing/student-loans" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
                </div>

                
                <div class="col-md text-center">
                    <a href="https://ww2.salliemae.com/landing/student-loans"><img src="{% static 'flp_app/SallieMae_Blue_Alt.png/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
                </div>

                
                 <!--Accordion-->
                 <div class="accordion p-2" id="accordion2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                          Quick Facts
                        </button>
                      </h2>
                      <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p><strong>Key facts</strong></p>
                       <p>Best for part-time students and those who want flexibility with repayment.</p>
                       <br>
                       <p><strong>Qualifications</strong></p>
                       <ul>
                         <li>Typical credit score of approved borrowers: Did not disclose.</li>
                         <li>Minimum income: Did not disclose.</li>
                         <li>Loan amounts: $1,000 up to 100% of the school-certified expenses.</li>
                       </ul>
                       <br>
                       <p><strong>Available Term Lengths</strong></p>
                       <p>10 to 15 years</p>
                        </div>
                      </div>
                    </div>
  
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                          Why We Like It
                        </button>
                      </h2>
                      <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                            <p><strong>Pros: </strong></p>
                            <li>One of the few lenders to provide loans to part-time students.</li>
                            <li>Borrowers can access online tutoring and free credit score tracking.</li>
                            <li>Non-U.S. citizens, including DACA students, can apply with a U.S. co-signer.</li>
                            <br>
                            <p><strong>Cons: </strong></p>
                            <li>You can't see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                   <!---->

                </div>
            </div>
           
    </section>
    <!--Rank 3-->  
    <section id="rank3" class="">
        
        <div class="py-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <a href="https://www.funding-u.com/no-cosigner-student-loans"></a><img src="{% static 'flp_app/Funding_U_Logo.svg/' %}" style="height: 200px;" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Funding U Private Student Loan</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="https://www.funding-u.com/no-cosigner-student-loans" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Minimum Credit Score</h5>
                        <p class="mt-3">None</p>
                      </div>
                    </a>

                    <a href="https://www.funding-u.com/no-cosigner-student-loans" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Fixed APR</h5>
                          <p class="mt-3">7.49 - 12.99%</p>
                        </div>
                      </a>
                    
                      <a href="https://www.funding-u.com/no-cosigner-student-loans" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Variable APR</h5>
                          <p class="mt-3">N/A</p>
                        </div>
                      </a>

                      


                  </div>
                
                <!---->
                <a href="https://www.funding-u.com/no-cosigner-student-loans" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
            </div>

             <!--Accordion-->
            <div class="accordion p-2" id="accordion3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeOne" aria-expanded="false" aria-controls="collapseThreeOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseThreeOne" class="accordion-collapse collapse" aria-labelledby="headingThreeOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p><strong>Key facts</strong></p>
                       <p>Best for high-achieving independent students enrolled in four-year programs who have small funding gaps.</p>
                       <br>
                       <p><strong>Qualifications</strong></p>
                       <ul>
                         <li>Typical credit score of approved borrowers: 650.</li>
                         <li>Minimum income: No minimum, but borrowers must demonstrate they can pay $20 per month toward their loan.</li>
                         <li>Loan amounts: $3,001 up to $10,000.</li>
                       </ul>
                       <br>
                       <p><strong>Available Term Lengths</strong></p>
                       <p>10 years</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo" aria-expanded="false" aria-controls="collapseThreeTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseThreeTwo" class="accordion-collapse collapse" aria-labelledby="headingThreeTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <p><strong>Pros: </strong></p>
                      <li>You don't need a co-signer or credit history to get a loan.</li>
                      <li>You can see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                      <li>Among the best for payment flexibility.</li>
                      <br>
                      <p><strong>Cons: </strong></p>
                      <li>Loans aren't available in 19 states.</li>
                      <li>Payment required while in school and during the grace period.</li>
                      <li>Maximum funding amount is less than most lenders.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
             <!---->
        </div>
      
        </div>
    
</section>
    <!--Rank 4-->  
    <section id="rank4" class="">
    
            <div class="py-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
            
                <div class="col-md p-5 ">
                    <h2 class="text-center">College Ave Private Student Loan</h2>
                    
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="https://www.collegeavestudentloans.com/lp/undergrad-student-loans/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Minimum Credit Score</h5>
                            <p class="mt-3">Mid-600s</p>
                        </div>
                        </a>

                        <a href="https://www.collegeavestudentloans.com/lp/undergrad-student-loans/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Fixed APR</h5>
                            <p class="mt-3">2.99 - 12.99%</p>
                            </div>
                        </a>
                        
                        <a href="https://www.collegeavestudentloans.com/lp/undergrad-student-loans/" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Variable APR</h5>
                            <p class="mt-3">0.99 - 11.98%</p>
                            </div>
                        </a>

                   

                    </div>
                    
                    <!---->
                    
                    <a href="https://www.collegeavestudentloans.com/lp/undergrad-student-loans/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
                </div>

                
                <div class="col-md text-center">
                    <a href="https://www.collegeavestudentloans.com/lp/undergrad-student-loans/"><img src="{% static 'flp_app/college_ave.svg/' %}" style="height: 180px;" class="img-fluid" alt=""></a>
                </div>

                
                <!--Accordion-->
                <div class="accordion p-2" id="accordion4">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourOne" aria-expanded="false" aria-controls="collapseFourOne">
                        Quick Facts
                        </button>
                    </h2>
                    <div id="collapseFourOne" class="accordion-collapse collapse" aria-labelledby="headingFourOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p><strong>Key facts</strong></p>
                          <p>College Ave Student Loans is an online lender that offers student loans for undergraduates, graduate students and parents, plus student loan refinancing.</p>
                          <br>
                          <p><strong>Qualifications</strong></p>
                          <ul>
                            <li>Typical credit score of approved borrowers: 700s.</li>
                            <li>Minimum income: $35,000 per year.</li>
                            <li>Loan amounts: $1,000 up to cost of attendance.</li>
                          </ul>
                          <br>
                          <p><strong>Available Term Lengths</strong></p>
                          <p>5, 8, 10 or 15 years</p>
                        </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTwo" aria-expanded="false" aria-controls="collapseFourTwo">
                        Why We Like It
                        </button>
                    </h2>
                    <div id="collapseFourTwo" class="accordion-collapse collapse" aria-labelledby="headingFourTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                            <p><strong>Pros: </strong></p>
                            <li>You can see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                            <li>More flexible repayment options than other lenders.</li>
                            <li>Six-month grace period extension is available.</li>
                            <br>
                            <p><strong>Cons: </strong></p>
                            <li>You must be at least halfway through your repayment term before you can request a co-signer release.</li>
                          </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <!---->

                </div>
            </div>
        
    </section>

<!--Rank 5-->  
<section id="rank5" class="">
        
    <div class="py-5 mt-1  rounded-3">
    <div class="row align-items-center bg-light justify-content-between">

        <div class="col-md text-center">
            <a href="https://www.sofi.com/private-student-loans/"><img src="{% static 'flp_app/sofi.png/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
        </div>
        <div class="col-md p-5 mb-2">
            <h2 class="text-center">SoFi Private Student Loan</h2>
            <!--List Group-->

            <div class="list-group mt-2">

                
                <a href="https://www.sofi.com/private-student-loans/" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-3">Minimum Credit Score</h5>
                    <p class="mt-3">Does not disclose</p>
                  </div>
                </a>

                <a href="https://www.sofi.com/private-student-loans/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Fixed APR</h5>
                      <p class="mt-3">2.99 - 10.90%</p>
                    </div>
                  </a>
                
                  <a href="https://www.sofi.com/private-student-loans/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Variable APR</h5>
                      <p class="mt-3">0.99 - 11.33%</p>
                    </div>
                  </a>

              


              </div>
            
            <!---->
            <a href="https://www.sofi.com/private-student-loans/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
        </div>

         <!--Accordion-->
        <div class="accordion p-2" id="accordion5">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveOne" aria-expanded="false" aria-controls="collapseFiveOne">
                Quick Facts
              </button>
            </h2>
            <div id="collapseFiveOne" class="accordion-collapse collapse" aria-labelledby="headingFiveOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p><strong>Key facts</strong></p>
                          <p>Best for flexible repayment options and no fees.</p>
                          <br>
                          <p><strong>Qualifications</strong></p>
                          <ul>
                            <li>Typical credit score of approved borrowers or co-signers: 700+.</li>
                            <li>Minimum income: No minimum.</li>
                            <li>Loan amounts: $5,000 minimum.</li>
                          </ul>
                          <br>
                          <p><strong>Available Term Lengths</strong></p>
                          <p>5, 10 or 15 years</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveTwo" aria-expanded="false" aria-controls="collapseFiveTwo">
                Why We Like It
              </button>
            </h2>
            <div id="collapseFiveTwo" class="accordion-collapse collapse" aria-labelledby="headingFiveTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <p><strong>Pros: </strong></p>
                  <li>You can see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                  <li>Multiple in-school repayment options available, including interest-only and flat-fee, and deferred for undergrad and grad students.</li>
                  <li>Additional perks like career planning, job search assistance and entrepreneurship support available.</li>
                  <br>
                  <p><strong>Cons: </strong></p>
                  <li>Does not offer bi-weekly payments via autopay.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <!---->
    </div>
  
    </div>

</section>
<!--Rank 6-->  
<section id="rank6" class="">

    <div class="py-5 my-1 rounded-3">
    <div class="row align-items-center bg-light justify-content-between">
       
        <div class="col-md p-5 ">
            <h2 class="text-center">Earnest Private Student Loan</h2>
            
             <!--List Group-->

             <div class="list-group mt-2">

                
                <a href="https://www.earnest.com/student-loans" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-3">Minimum Credit Score</h5>
                    <p class="mt-3">650</p>
                  </div>
                </a>

                <a href="https://www.earnest.com/student-loans" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Fixed APR</h5>
                      <p class="mt-3">2.99 - 12.78%</p>
                    </div>
                  </a>
                
                  <a href="https://www.earnest.com/student-loans" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Variable APR</h5>
                      <p class="mt-3">0.99 - 11.44%</p>
                    </div>
                  </a>

                 


              </div>
            
            <!---->
            
            <a href="https://www.earnest.com/student-loans" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
        </div>

        
        <div class="col-md text-center">
            <a href="https://www.earnest.com/student-loans"><img src="{% static 'flp_app/earnest.svg/' %}" style="height: 150px;" class="img-fluid" alt=""></a>
        </div>

        
         <!--Accordion-->
         <div class="accordion p-2" id="accordion6">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSixOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixOne" aria-expanded="false" aria-controls="collapseSixOne">
                  Quick Facts
                </button>
              </h2>
              <div id="collapseSixOne" class="accordion-collapse collapse" aria-labelledby="headingSixOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>Key facts</strong></p>
                          <p>An option for borrowers who want flexible repayment.</p>
                          <br>
                          <p><strong>Qualifications</strong></p>
                          <ul>
                            <li>Typical credit score of approved borrowers: 758.</li>
                            <li>Minimum income: $35,000.</li>
                            <li>Loan amounts: $1,000 up to your total cost of attendance.</li>
                          </ul>
                          <br>
                          <p><strong>Available Term Lengths</strong></p>
                          <p>5, 7, 10, 12 or 15 years</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSixTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTwo" aria-expanded="false" aria-controls="collapseSixTwo">
                  Why We Like It
                </button>
              </h2>
              <div id="collapseSixTwo" class="accordion-collapse collapse" aria-labelledby="headingSixTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul>
                    <p><strong>Pros: </strong></p>
                    <li>Option to skip one payment every 12 months.</li>
                    <li>No late fees.</li>
                    <li>Nine-month grace period is longer than most lenders offer.</li>
                    <br>
                    <p><strong>Cons: </strong></p>
                    <li>You can’t see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                    <li>Loans aren't available in Nevada.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           <!---->

        </div>
    </div>
   
</section>

<!--Rank 7-->  
<section id="rank7" class="">
        
    <div class="py-5 mt-1  rounded-3">
    <div class="row align-items-center bg-light justify-content-between">

        <div class="col-md text-center">
            <a href="https://www.stridefunding.com/"><img src="{% static 'flp_app/stride.png/' %}" style="height: 150px;" class="img-fluid" alt=""></a>
        </div>
        <div class="col-md p-5 mb-2">
            <h2 class="text-center">Stride Funding Income Share Agreement</h2>
            <!--List Group-->

            <div class="list-group mt-2">

                
                <a href="https://www.stridefunding.com/" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-3">Minimum Credit Score</h5>
                    <p class="mt-3">None</p>
                  </div>
                </a>

                <a href="https://www.stridefunding.com/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Fixed APR</h5>
                      <p class="mt-3">N/A</p>
                    </div>
                  </a>
                
                  <a href="https://www.stridefunding.com/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Variable APR</h5>
                      <p class="mt-3">N/A</p>
                    </div>
                  </a>

               


              </div>
            
            <!---->
            <a href="https://www.stridefunding.com/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
        </div>

         <!--Accordion-->
        <div class="accordion p-2" id="accordion7">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSevenOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenOne" aria-expanded="false" aria-controls="collapseSevenOne">
                Quick Facts
              </button>
            </h2>
            <div id="collapseSevenOne" class="accordion-collapse collapse" aria-labelledby="headingSevenOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p><strong>Key facts</strong></p>
                          <p>Best for health care and STEM students who’ll pay less than with a private student loan.</p>
                          <br>
                          <p><strong>Qualifications</strong></p>
                          <ul>
                            <li>Eligibility is based on factors like academic program and projected salary, not credit score.</li>
                            <li>Loan amounts: $3,000 to $25,000 annually; $50,000 lifetime maximum.</li>
                            <li>Payment cap: Two times the amount borrowed.</li>
                            <li>Income share percentages: Typically 6% to 9%; lifetime max is 20%.</li>
                          </ul>
                          <br>
                          <p><strong>Available Term Lengths</strong></p>
                          <p>5 years, but can extend to up to 10 years.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSevenTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenTwo" aria-expanded="false" aria-controls="collapseSevenTwo">
                Why We Like It
              </button>
            </h2>
            <div id="collapseSevenTwo" class="accordion-collapse collapse" aria-labelledby="headingSevenTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <p><strong>Pros: </strong></p>
                  <li>Payments aren’t due if you’re unemployed.</li>
                  <li>Lending decisions are not based on your credit score.</li>
                  <li>You receive free career services, including job placement support.</li>
                  <br>
                  <p><strong>Cons: </strong></p>
                  <li>There’s no discount for paying off your agreement early like some lenders offer.</li>
                  <li>Funding may not be available based on your school or major. </li>
                  <li>Not available in South Carolina.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <!---->
    </div>
  
    </div>

</section>

<!--Rank 8-->  
<section id="rank8" class="">

    <div class="py-5 my-1 rounded-3">
    <div class="row align-items-center bg-light justify-content-between">
       
        <div class="col-md p-5 ">
            <h2 class="text-center">CommonBond Private Student Loan</h2>
            
             <!--List Group-->

             <div class="list-group mt-2">

                
                <a href="https://www.commonbond.co/student-loans/undergraduate" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-3">Minimum Credit Score</h5>
                    <p class="mt-3">660</p>
                  </div>
                </a>

                <a href="https://www.commonbond.co/student-loans/undergraduate" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Fixed APR</h5>
                      <p class="mt-3">3.99 - 10.99%</p>
                    </div>
                  </a>
                
                  <a href="https://www.commonbond.co/student-loans/undergraduate" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Variable APR</h5>
                      <p class="mt-3">4.13 - 9.64%</p>
                    </div>
                  </a>

            


              </div>
            
            <!---->
            
            <a href="https://www.commonbond.co/student-loans/undergraduate" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
        </div>

        
        <div class="col-md text-center">
            <a href="https://www.commonbond.co/student-loans/undergraduate"><img src="{% static 'flp_app/commonbond.svg/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
        </div>

        
         <!--Accordion-->
         <div class="accordion p-2" id="accordion8">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEightOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightOne" aria-expanded="false" aria-controls="collapseEightOne">
                  Quick Facts
                </button>
              </h2>
              <div id="collapseEightOne" class="accordion-collapse collapse" aria-labelledby="headingEightOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>Key facts</strong></p>
                          <p>Best for students who are already planning to use a co-signer and value customer support.</p>
                          <br>
                          <p><strong>Qualifications</strong></p>
                          <ul>
                            <li>Typical credit score of approved borrowers: Did not disclose.</li>
                            <li>Minimum income: No set minimum.</li>
                            <li>Loan amounts: $2,000 to the total cost of attendance. Maximum $500,000.</li>
                          </ul>
                          <br>
                          <p><strong>Available Term Lengths</strong></p>
                          <p>5, 10 or 15 years</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEightTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightTwo" aria-expanded="false" aria-controls="collapseEightTwo">
                  Why We Like It
                </button>
              </h2>
              <div id="collapseEightTwo" class="accordion-collapse collapse" aria-labelledby="headingEightTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul>
                    <p><strong>Pros: </strong></p>
                    <li>You can see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                    <li>You are assigned a dedicated Money Mentor.</li>
                    <br>
                    <p><strong>Cons: </strong></p>
                    <li>Loans aren't available in Nevada and Mississippi.</li>
                    <li>Co-signer required.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           <!---->

        </div>
    </div>
   
</section>

<!--Rank 9-->  
<section id="rank9" class="">
        
    <div class="py-5 mt-1  rounded-3">
    <div class="row align-items-center bg-light justify-content-between">

        <div class="col-md text-center">
            <a href="https://www.lendkey.com/private-student-loans"><img src="{% static 'flp_app/lendkey.svg/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
        </div>
        <div class="col-md p-5 mb-2">
            <h2 class="text-center">LendKey Private Student Loan</h2>
            <!--List Group-->

            <div class="list-group mt-2">

                
                <a href="https://www.lendkey.com/private-student-loans" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-3">Minimum Credit Score</h5>
                    <p class="mt-3">660</p>
                  </div>
                </a>

                <a href="https://www.lendkey.com/private-student-loans" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Fixed APR</h5>
                      <p class="mt-3">4.25 - 12.59%</p>
                    </div>
                  </a>
                
                  <a href="https://www.lendkey.com/private-student-loans" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Variable APR</h5>
                      <p class="mt-3">1.13 - 11.23%</p>
                    </div>
                  </a>

               


              </div>
            
            <!---->
            <a href="https://www.lendkey.com/private-student-loans" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
        </div>

         <!--Accordion-->
        <div class="accordion p-2" id="accordion9">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingNineOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineOne" aria-expanded="false" aria-controls="collapseNineOne">
                Quick Facts
              </button>
            </h2>
            <div id="collapseNineOne" class="accordion-collapse collapse" aria-labelledby="headingNineOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p><strong>Key facts</strong></p>
                          <p>Best for students who value working with a community bank or credit union.</p>
                          <br>
                          <p><strong>Qualifications</strong></p>
                          <ul>
                            <li>Typical credit score of approved borrowers: 748.</li>
                            <li>Minimum income: $24,000 per year.</li>
                            <li>Loan amounts: $1,000 up to cost of attendance, minus other aid received.</li>
                          </ul>
                          <br>
                          <p><strong>Available Term Lengths</strong></p>
                          <p>5, 10 or 15 years</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingNineTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineTwo" aria-expanded="false" aria-controls="collapseNineTwo">
                Why We Like It
              </button>
            </h2>
            <div id="collapseNineTwo" class="accordion-collapse collapse" aria-labelledby="headingNineTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <p><strong>Pros: </strong></p>
                  <li>Forbearance of 18 months is longer than many lenders offer.</li>
                  <br>
                  <p><strong>Cons: </strong></p>
                  <li>You can’t see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                  <li>Payment required while in school and during the grace period.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
         <!---->
    </div>
  
    </div>

</section>

<!--Rank 10-->  
<section id="rank10" class="">

    <div class="py-5 my-1 rounded-3">
    <div class="row align-items-center bg-light justify-content-between">
       
        <div class="col-md p-5 ">
            <h2 class="text-center">Custom Choice Loan, Powered by Cognition</h2>
            
             <!--List Group-->

             <div class="list-group mt-2">

                
                <a href="https://www.customchoice.com/loan-details/" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mt-3">Minimum Credit Score</h5>
                    <p class="mt-3">660</p>
                  </div>
                </a>

                <a href="https://www.customchoice.com/loan-details/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Fixed APR</h5>
                      <p class="mt-3">3.75 - 10.56%</p>
                    </div>
                  </a>
                
                  <a href="https://www.customchoice.com/loan-details/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Variable APR</h5>
                      <p class="mt-3">1.08 - 9.36%</p>
                    </div>
                  </a>

          

              </div>
            
            <!---->
            
            <a href="https://www.customchoice.com/loan-details/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Check Your Rate</a>
        </div>

        
        <div class="col-md text-center">
            <a href="https://www.customchoice.com/loan-details/"><img src="{% static 'flp_app/custom_choice.png/' %}" style="height: 200px;" class="img-fluid" alt=""></a>
        </div>

        
         <!--Accordion-->
         <div class="accordion p-2" id="accordion10">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTenOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenOne" aria-expanded="false" aria-controls="collapseTenOne">
                  Quick Facts
                </button>
              </h2>
              <div id="collapseTenOne" class="accordion-collapse collapse" aria-labelledby="headingTenOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>Key facts</strong></p>
                          <p>Best for upperclassmen who are confident they can take advantage of the 2% Grad Reward.</p>
                          <br>
                          <p><strong>Qualifications</strong></p>
                          <ul>
                            <li>Typical credit score of approved borrowers: 747.</li>
                            <li>Minimum income: No minimum, but borrowers must demonstrate positive income.</li>
                            <li>Loan amounts: $1,000 up to $99,999.</li>
                          </ul>
                          <br>
                          <p><strong>Available Term Lengths</strong></p>
                          <p>7, 10 or 15 years</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTenTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTenTwo" aria-expanded="false" aria-controls="collapseTenTwo">
                  Why We Like It
                </button>
              </h2>
              <div id="collapseTenTwo" class="accordion-collapse collapse" aria-labelledby="headingTenTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul>
                    <p><strong>Pros: </strong></p>
                    <li>You can see if you’ll qualify and what rate you’ll get without a hard credit check.</li>
                    <li>No late fees.</li>
                    <li>Principal reduction of 2% if you graduate.</li>
                    <li>Stands out for features that enable faster loan repayment.</li>
                    <br>
                    <p><strong>Cons: </strong></p>
                    <li>Loans aren't available in Arizona, Iowa or Wisconsin.</li>
                    <li>Loans not available to borrowers with student visas.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           <!---->

        </div>
    </div>
   
</section>

<p>Information source: Nerd Wallet</p>
   
    <button class="btn btn-sm btn-outline-primary mb-4"><a href="https://www.nerdwallet.com/best/loans/student-loans/private-student-loans?trk=nw_gn_5.0"></a>Read Article</button>

</div>  
{% endblock content %}