{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Best Student Credit Cards</h1>
        </div>
        </div>
    </section>
    </header>


<div class="container">  

    <p class="text-muted">Last Updated: 9/5/2021</p>

    <!--Rank 1-->  
    <section id="rank1" class="">
        
            <div class="p-5 mt-1  rounded-3">
            <div class="row align-items-center bg-light justify-content-between">

                <div class="col-md text-center">
                    <img src="{% static 'flp_app/discover_it_student.jpg' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5 mb-2">
                    <h2 class="text-center">Discover it® Student Cash Back</h2>
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Rewards Rate</h5>
                              <p class="mt-3">1%-5%</p>
                            </div>
                          </a>
                        
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro Offer</h5>
                              <p class="mt-3">Cashback Match™</p>
                            </div>
                          </a>

                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">630-689</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    <a href="https://www.discover.com/credit-cards/student-credit-card/it-card.html" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                 <!--Accordion-->
                <div class="accordion p-2" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                        Quick Facts
                      </button>
                    </h2>
                    <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingOneOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul>
                          <li>INTRO OFFER: Unlimited Cashback Match – only from Discover. Discover will automatically match all the cash back you’ve earned at the end of your first year! So you could turn $50 cash back into $100. Or turn $100 into $200. There’s no minimum spending or maximum rewards. Just a dollar-for-dollar match.</li>
                          <li>Earn 5% cash back on everyday purchases at different places each quarter like Amazon.com, grocery stores, restaurants, gas stations and when you pay using PayPal, up to the quarterly maximum when you activate. Plus, earn unlimited 1% cash back on all other purchases – automatically.</li>
                          <li>Good Grades Rewards: $20 statement credit each school year your GPA is 3.0 or higher for up to the next 5 years.</li>
                          <li>Earn rewards while building your credit history that can help you after graduation. And, get your free Credit Scorecard that includes your FICO® Credit Score and important details that help make up your score.</li>
                          <li>No annual fee. No late fee on first late payment. No APR change for paying late.</li>
                          <li>Refer-a-Friend: Once you become a Discover it® Student cardmember, you can earn a statement credit each time you refer a friend and they’re approved. Over half a million students got Discover Cards from their friends' recommendations.</li>
                          <li>Freeze It® on/off switch for your account that prevents new purchases, cash advances & balance transfers in seconds.</li>
                          <li>Discover is accepted nationwide by 99% of the places that take credit cards.</li>
                          <li>0% intro APR on purchases for 6 months, then the standard variable purchase APR of 12.99% - 21.99% applies.</li>
                          <a href="">https://www.discover.com/credit-cards/student-credit-card/it-card.html</a>
                        </ul>
                        <a href="https://www.discover.com/credit-cards/student-credit-card/it-card.html">View Rates & Fees</a>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneTwo" aria-expanded="false" aria-controls="collapseOneTwo">
                        Why We Like It
                      </button>
                    </h2>
                    <div id="collapseOneTwo" class="accordion-collapse collapse" aria-labelledby="headingOneTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>The Discover it® Student Cash Back offers rich rewards in quarterly bonus categories, although it requires more work than your typical student card. </p>
                        <ul>
                          <li><strong>Pros: </strong>This card offers 5% cash back in rotating categories that you activate, on up to $1,500 in spending per quarter; all other spending earns 1% cash back. There's no annual fee, no late fee on your first late payment and a $20 annual statement credit for good grades (for up to five years). With this card, too, Discover says there is no FICO history requirement. </li>
                          <li><strong>Cons: </strong>Having to activate bonus categories every three months can be a hassle, especially when you're just getting started with credit, and some of the categories might be a poor fit for a student's spending. There's no foreign transaction fee, but Discover isn’t as widely accepted overseas — something to keep in mind if you're studying abroad. </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                 <!---->
            </div>
          
            </div>
        
    </section>


    <!--Rank 2-->  
    <section id="rank2" class="">
     
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
               
                <div class="col-md p-5 ">
                    <h2 class="text-center">Discover it® Student Chrome</h2>
                    
                     <!--List Group-->

                     <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Rewards Rate</h5>
                              <p class="mt-3">1%-2%</p>
                            </div>
                          </a>
                        
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro Offer</h5>
                              <p class="mt-3">Cashback Match™</p>
                            </div>
                          </a>

                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">680-689</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    
                    <a href="https://www.discover.com/credit-cards/student-credit-card/chrome-card.html" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <img src="{% static 'flp_app/discover_it_chrome.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>

                
                 <!--Accordion-->
                 <div class="accordion p-2" id="accordion2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                          Quick Facts
                        </button>
                      </h2>
                      <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                            <li>INTRO OFFER: Unlimited Cashback Match – only from Discover. Discover will automatically match all the cash back you’ve earned at the end of your first year! So you could turn $50 cash back into $100. Or turn $100 into $200. There’s no minimum spending or maximum rewards. Just a dollar-for-dollar match.</li>
                            <li>Earn 2% cash back at Gas Stations and Restaurants on up to $1,000 in combined purchases each quarter. Plus, earn unlimited 1% cash back on all other purchases –  automatically.</li>
                            <li>Good Grades Rewards: $20 statement credit each school year your GPA is 3.0 or higher for up to the next 5 years.</li>
                            <li>Earn rewards while building your credit history that can help you after graduation. And, get your free Credit Scorecard that includes your FICO® Credit Score and important details that help make up your score.</li>
                            <li>No annual fee. No late fee on first late payment. No APR change for paying late.</li>
                            <li>Refer-a-Friend: Once you become a Discover it® Student cardmember, you can earn a statement credit each time you refer a friend and they’re approved. Over half a million students got Discover Cards from their friends' recommendations.</li>
                            <li>Freeze It® on/off switch for your account that prevents new purchases, cash advances & balance transfers in seconds.</li>
                            <li>Discover is accepted nationwide by 99% of the places that take credit cards.</li>
                            <li>0% intro APR on purchases for 6 months, then the standard variable purchase APR of  12.99% - 21.99% applies.</li>
                          </ul>
                          <a href="https://www.discover.com/credit-cards/student-credit-card/chrome-card.html">View Rates & Fees</a>
                        </div>
                      </div>
                    </div>
  
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                          Why We Like It
                        </button>
                      </h2>
                      <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>Discover offers two fine cards for college students. The Discover it® Student chrome shines with its no-maintenance rewards structure and student-friendly bonus categories. You also get a free FICO score, low fees, and forgiveness for your first late payment. Plus, Discover says there's no FICO history requirement for this card.</p>
                          <ul>
                            <li><strong>Pros: </strong>You earn 2% cash back at restaurants and gas stations, on up to $1,000 in combined purchases per quarter, and 1% cash back on all other purchases. (Unlike with Discover's other student card, you don't have to "activate" your bonus rewards.) The annual fee is $0. Students with a GPA of 3.0 or higher can earn a $20 statement credit each year for up to five years. There's also Discover's signature bonus for new cardholders. </li>
                            <li><strong>Cons: </strong>Although there's no foreign transaction fee, Discover isn’t as widely accepted abroad as other cards. If you plan to travel internationally, make sure you have a backup plan.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                   <!---->

                </div>
            </div>
           
    </section>


    <!--Rank 3-->  
    <section id="rank3" class="">
        
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <img src="{% static 'flp_app/chase_freedom_student.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Chase Freedom® Student credit card</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1%</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">$50</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">690-850</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://creditcards.chase.com/cash-back-credit-cards/freedom/student" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

             <!--Accordion-->
            <div class="accordion p-2" id="accordion3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeOne" aria-expanded="false" aria-controls="collapseThreeOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseThreeOne" class="accordion-collapse collapse" aria-labelledby="headingThreeOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <li>$50 Bonus after first purchase made within the first 3 months from account opening</li>
                      <li>Earn 1% cash back on all purchases</li>
                      <li>No annual Fee</li>
                      <li>$20 Good Standing Rewards after each account anniversary for up to 5 years</li>
                      <li>Earn a credit limit increase after making 5 monthly payments on time within 10 months from account opening when meeting credit criteria</li>
                      <li>No minimum to redeem for cash back. Cash Back rewards do not expire as long as your account is open</li>
                      <li>Free credit score with Chase Credit Journey</li>
                    </ul>
                    <a href="https://creditcards.chase.com/cash-back-credit-cards/freedom/student">View Rates & Fees</a>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo" aria-expanded="false" aria-controls="collapseThreeTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseThreeTwo" class="accordion-collapse collapse" aria-labelledby="headingThreeTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>With its rewards and bonuses, its relatively low APR and its upgrade possibilities, the Chase Freedom® Student credit card offers a compelling combination of benefits to students looking for their first card. </p>
                    <ul>
                      <li><strong>Pros:  </strong>You'll earn 1% cash back on all purchases and enjoy bonus opportunities — $50 Bonus after first purchase made within the first 3 months from account opening, plus an annual $20 "good standing" bonus for up to five years. You can earn a credit-limit increase with a pattern of on-time payment (see terms), and Chase has great cards to potentially upgrade to after you graduate. You don't need a credit history to apply. The ongoing APR is 14.99% Variable APR — lower than on many other cards for credit newcomers.</li>
                      <li><strong>Cons:  </strong>There are other cards that pay a higher cash-back rate on all purchases or offer richer rewards in specific categories. This card charges a foreign transaction fee, making it a poor choice for studying abroad.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
             <!---->
        </div>
      
        </div>
    
  </section>


    <!--Rank 4-->  
    <section id="rank4" class="">
    
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
            
                <div class="col-md p-5 ">
                    <h2 class="text-center">Deserve® EDU Mastercard for Students</h2>
                    
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$0</p>
                        </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Rewards Rate</h5>
                            <p class="mt-3">1%</p>
                            </div>
                        </a>
                        
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Intro Offer</h5>
                            <p class="mt-3">N/A</p>
                            </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Recommended Credit Score</h5>
                            <p class="mt-3">690-850</p>
                            </div>
                        </a>


                    </div>
                    
                    <!---->
                    
                    <a href="https://www.deserve.com/deserve-edu/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <img src="{% static 'flp_app/deserve_edu.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>

                
                <!--Accordion-->
                <div class="accordion p-2" id="accordion4">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourOne" aria-expanded="false" aria-controls="collapseFourOne">
                        Quick Facts
                        </button>
                    </h2>
                    <div id="collapseFourOne" class="accordion-collapse collapse" aria-labelledby="headingFourOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <ul>
                          <li>Receive one year of Amazon Prime Student on Deserve after spending $500 in the first three billing cycles with your EDU card (Lifetime Value of $59).</li>
                          <li>Earn 1% Cash Back on all purchases with your Deserve EDU Mastercard. Once approved, you'll automatically start earning cash back on all purchases.</li>
                          <li>Feel secure with cell phone protection up to $600.</li>
                          <li>No deposit required. No annual fees.</li>
                          <li>No international transaction fees on purchases abroad so you can travel with confidence.</li>
                          <li>No Social Security Number required for international students to apply.</li>
                          <li>Refer A Friend Program: Refer anyone to Deserve using your personal referral code. Upon approval, card activation and use, you'll receive $30 and so will your referral. Referral bonuses are unlimited!</li>
                          <li>See if you prequalify with no impact to your credit score in minutes.</li>
                          <li>Deserve Mastercards are issued by Celtic Bank, Member FDIC.</li>
                          <li>Enjoy Mastercard Platinum Benefits intended to make your life easier like Mastercard ID Theft Prevention™ and Master Rental®.</li>

                        </ul>
                        <a href="https://www.deserve.com/deserve-edu/">View Rates & Fees</a>
                        </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTwo" aria-expanded="false" aria-controls="collapseFourTwo">
                        Why We Like It
                        </button>
                    </h2>
                    <div id="collapseFourTwo" class="accordion-collapse collapse" aria-labelledby="headingFourTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <p>The Deserve® EDU Mastercard for Students is an excellent option for students who can’t qualify for a credit card because they lack a U.S. credit history, a Social Security number or both.</p>
                        <ul>
                          <li><strong>Pros: </strong>The rewards are easy to understand and can help you develop good credit habits. You earn 1% cash back on all purchases; when you pay your bill on time, you’ll receive an extra 0.25% cash back as a bonus. New cardholders can get up to $60 in credits for streaming media. And you can be automatically considered for a higher credit limit with no additional deposit in as little as six months. The annual fee is $0, and there are no foreign transaction fees.</li>
                          <li><strong>Cons: </strong>The maximum rewards rate of 1% or 1.25% is lower than the top rate on some other student cards.</li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <!---->

                </div>
            </div>
        
    </section>


    <!--Rank 5-->  
    <section id="rank5" class="">
            
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <img src="{% static 'flp_app/capitalone_journey_student.jpg/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Journey Student Rewards from Capital One</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1%-1.25%</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">N/A</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">630-689</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://www.capitalone.com/credit-cards/journey-student/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

            <!--Accordion-->
            <div class="accordion p-2" id="accordion5">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveOne" aria-expanded="false" aria-controls="collapseFiveOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseFiveOne" class="accordion-collapse collapse" aria-labelledby="headingFiveOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <li>Earn 1% cash back on all your purchases. Pay on time to boost your cash back to a total of 1.25% for that month</li>
                      <li>Earn $5 per month for 12 months on Select Streaming Subscriptions when you pay on time. *Exclusions Apply</li>
                      <li>Enjoy no annual fee and no foreign transaction fees</li>
                      <li>You can help build your credit with responsible use of a card like this</li>
                      <li>Pick the monthly due date that works best for you</li>
                      <li>Be automatically considered for a higher credit line in as little as 6 months</li>
                      <li>$0 fraud liability if your card is ever lost or stolen</li>
                      <li>Monitor your credit profile with the CreditWise® app, free for everyone</li>
                    </ul>
                    <a href="https://www.capitalone.com/credit-cards/journey-student/">View Rates & Fees</a>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveTwo" aria-expanded="false" aria-controls="collapseFiveTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseFiveTwo" class="accordion-collapse collapse" aria-labelledby="headingFiveTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>The Journey Student Rewards from Capital One offers simple rewards, with a bonus for paying on time. You don’t even have to be a student to apply, so consider it if you have average credit. </p>
                    <ul>
                      <li><strong>Pros: </strong>The rewards are easy to understand and can help you develop good credit habits. You earn 1% cash back on all purchases; when you pay your bill on time, you’ll receive an extra 0.25% cash back as a bonus. New cardholders can get up to $60 in credits for streaming media. And you can be automatically considered for a higher credit limit with no additional deposit in as little as six months. The annual fee is $0, and there are no foreign transaction fees.</li>
                      <li><strong>Cons: </strong>The maximum rewards rate of 1% or 1.25% is lower than the top rate on some other student cards.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!---->
        </div>
      
        </div>

    </section>


    <!--Rank 6-->  
    <section id="rank6" class="">

        <div class="p-5 my-1 rounded-3">
        <div class="row align-items-center bg-light justify-content-between">
          
            <div class="col-md p-5 ">
                <h2 class="text-center">Capital One Quicksilver Student Cash Rewards Credit Card</h2>
                
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1.5%</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">N/A</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">630-689</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                
                <a href="https://applynow.capitalone.com/?productId=13420" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

            
            <div class="col-md text-center">
                <img src="{% static 'flp_app/capitalone_quicksilver_student.png/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>

            
            <!--Accordion-->
            <div class="accordion p-2" id="accordion6">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixOne" aria-expanded="false" aria-controls="collapseSixOne">
                      Quick Facts
                    </button>
                  </h2>
                  <div id="collapseSixOne" class="accordion-collapse collapse" aria-labelledby="headingSixOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <li>Whether you're at a 4-year university, community college or other higher education institution, this card might be an option for you</li>
                        <li>Earn unlimited 1.5% cash back on every purchase, every day</li>
                        <li>Enjoy no annual fee, foreign transaction fees, or hidden fees</li>
                        <li>You can help build your credit with responsible use of a card like this</li>
                        <li>No rotating categories or sign-ups needed to earn cash rewards; plus, cash back won't expire for the life of the account and there's no limit to how much you can earn</li>
                        <li>Be automatically considered for a higher credit line in as little as 6 months</li>
                        <li>$0 fraud liability if your card is ever lost or stolen</li>
                        <li>Set up Autopay for your account and your payments will be made automatically every month</li>
                      </ul>
                      <a href="https://www.capitalone.com/credit-cards/quicksilver-student/">View Rates & Fees</a>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTwo" aria-expanded="false" aria-controls="collapseSixTwo">
                      Why We Like It
                    </button>
                  </h2>
                  <div id="collapseSixTwo" class="accordion-collapse collapse" aria-labelledby="headingSixTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>The Capital One Quicksilver Student Cash Rewards Credit Card is straightforward and rewarding, with no hoops to jump through. </p>
                      <ul>
                        <li><strong>Pros: </strong>The card earns 1.5% cash back on all purchases, and the annual fee is $0.</li>
                        <li><strong>Cons: </strong>If you're willing to put in more work, you can find student cards that earn more than 1.5% back in popular bonus categories. </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!---->

            </div>
        </div>
      
    </section>


    <!--Rank 7-->  
    <section id="rank7" class="">
            
      <div class="p-5 mt-1  rounded-3">
      <div class="row align-items-center bg-light justify-content-between">

          <div class="col-md text-center">
              <img src="{% static 'flp_app/capitalone_savorone_student.png/' %}" style="height: 300px;" class="img-fluid" alt="">
          </div>
          <div class="col-md p-5 mb-2">
              <h2 class="text-center">Capital One SavorOne Student Cash Rewards Credit Card</h2>
              <!--List Group-->

              <div class="list-group mt-2">

                  
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mt-3">Annual Fee</h5>
                      <p class="mt-3">$0</p>
                    </div>
                  </a>

                  <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Rewards Rate</h5>
                        <p class="mt-3">1%-8%</p>
                      </div>
                    </a>
                  
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Intro Offer</h5>
                        <p class="mt-3">N/A</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Recommended Credit Score</h5>
                        <p class="mt-3">630-689</p>
                      </div>
                    </a>


                </div>
              
              <!---->
              <a href="https://applynow.capitalone.com/?productId=13428" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
          </div>

          <!--Accordion-->
          <div class="accordion p-2" id="accordion7">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSevenOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenOne" aria-expanded="false" aria-controls="collapseSevenOne">
                  Quick Facts
                </button>
              </h2>
              <div id="collapseSevenOne" class="accordion-collapse collapse" aria-labelledby="headingSevenOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul>
                    <li>Whether you're at a 4-year university, community college or other higher education institution, this card might be an option for you</li>
                    <li>Earn unlimited 3% cash back on dining, entertainment, popular streaming services and at grocery stores (excluding superstores like Walmart® and Target®), with 1% on all other purchases. Plus, earn 8% cash back on tickets at Vivid Seats through January 2023</li>
                    <li>Enjoy no annual fee, foreign transaction fees, or hidden fees</li>
                    <li>You can help build your credit with responsible use of a card like this</li>
                    <li>No rotating categories or sign-ups needed to earn cash rewards; plus, cash back won't expire for the life of the account and there's no limit to how much you can earn</li>
                    <li>Be automatically considered for a higher credit line in as little as 6 months</li>
                    <li>$0 fraud liability if your card is ever lost or stolen</li>
                    <li>Set up Autopay for your account and your payments will be made automatically every month</li>
                  </ul>
                  <a href="https://www.capitalone.com/credit-cards/savorone-student/">View Rates & Fees</a>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSevenTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenTwo" aria-expanded="false" aria-controls="collapseSevenTwo">
                  Why We Like It
                </button>
              </h2>
              <div id="collapseSevenTwo" class="accordion-collapse collapse" aria-labelledby="headingSevenTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>The Capital One SavorOne Student Cash Rewards Credit Card offers a combination of features that's hard to beat, especially among student cards: triple rewards in a variety of popular categories, for a $0 annual fee. </p>
                  <ul>
                    <li><strong>Pros: </strong>You'll earn 3% cash back on dining, entertainment purchases, eligible streaming services and grocery store purchases, as well as 1% back on all other purchases. Those are excellent ongoing rates that you simply won't find on many other cards in this class. </li>
                    <li><strong>Cons: </strong>Newbies to credit may find that keeping track of multiple bonus categories can be a challenge. A flat-rate rewards card would be easier to manage.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!---->
      </div>
    
      </div>

    </section>

    <p>Information source: Nerd Wallet</p>
   
    <button class="btn btn-sm btn-outline-primary mb-4"><a href="https://www.nerdwallet.com/best/credit-cards/college-student"></a>Read Article</button>

</div>  
{% endblock content %}