{% extends "flp_app/base.html" %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark display-4 text-center">
            <h1>Best Travel Credit Cards</h1>
        </div>
        </div>
    </section>
    </header>


<div class="container">  

    <p class="text-muted">Last Updated: 9/2/2021</p>

   <!--Rank 1-->  

    <section id="rank1" class="">
        
            <div class="p-5 mt-1  rounded-3">
            <div class="row align-items-center bg-light justify-content-between">

                <div class="col-md text-center" >
                    <img src="{% static 'flp_app/sapphirepreferred.jpg/' %}" style="height: 300px;" class="img-fluid" alt="Chase Sapphire Preferred Card">
                </div>
                <div class="col-md p-5 mb-2">
                    <h2 class="text-center">Chase Sapphire Preferred® Card</h2>
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$95</p>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Rewards Rate</h5>
                              <p class="mt-3">1x-5x Points</p>
                            </div>
                          </a>
                        
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro Offer</h5>
                              <p class="mt-3">100,000 Points</p>
                            </div>
                          </a>

                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">690-850</p>
                            </div>
                          </a>


                      </div>
                    
                    <!---->
                    <a href="https://creditcards.chase.com/a1/21Q3/sapphirepreferred/comparelp/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                 <!--Accordion-->
                <div class="accordion p-2" id="accordion1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                        Quick Facts
                      </button>
                    </h2>
                    <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingOneOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul>
                          <li>Earn 100,000 bonus points after you spend $4,000 on purchases in the first 3 months from account opening. That's $1,250 when you redeem through Chase Ultimate Rewards®.</li>
                          <li>Enjoy new benefits such as a $50 annual Ultimate Rewards Hotel Credit, 5X points on travel purchased through Chase Ultimate Rewards®, 3X points on dining and 2X points on all other travel purchases, plus more.</li>
                          <li>Get 25% more value when you redeem for airfare, hotels, car rentals and cruises through Chase Ultimate Rewards®. For example, 100,000 points are worth $1,250 toward travel.</li>
                          <li>With Pay Yourself Back℠, your points are worth 25% more during the current offer when you redeem them for statement credits against existing purchases in select, rotating categories</li>
                          <li>Get unlimited deliveries with a $0 delivery fee and reduced service fees on eligible orders over $12 for a minimum of one year with DashPass, DoorDash's subscription service. Activate by 12/31/21.</li>
                          <li>Count on Trip Cancellation/Interruption Insurance, Auto Rental Collision Damage Waiver, Lost Luggage Insurance and more.</li>
                          <li>Get up to $60 back on an eligible Peloton Digital or All-Access Membership through 12/31/2021, and get full access to their workout library through the Peloton app, including cardio, running, strength, yoga, and more. Take classes using a phone, tablet, or TV. No fitness equipment is required.</li>
                          <br>
                          <a href="https://creditcards.chase.com/a1/21Q3/sapphirepreferred/comparelp/">View Rates & Fees</a>
              
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOneTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneTwo" aria-expanded="false" aria-controls="collapseOneTwo">
                        Why We Like It
                      </button>
                    </h2>
                    <div id="collapseOneTwo" class="accordion-collapse collapse" aria-labelledby="headingOneTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                       <p>The Chase Sapphire Preferred® Card is a great option — especially if you transfer points to it from other Chase cards. The sign-up bonus is outstanding for a card with a $95 annual fee. </p>
                        <ul>
                          <li><strong>Pros: </strong>You earn 5 points per $1 spent on all travel purchased through Chase Ultimate Rewards®; 3 points per $1 spent on dining (including eligible delivery services and takeout), select streaming services, and online grocery purchases (not including Target, Walmart and wholesale clubs); 2 points per $1 spent on travel not purchased through Chase Ultimate Rewards®; and 1 point per $1 spent on other purchases. Points are worth 25% more — 1.25 cents apiece — when you redeem them for travel booked through Chase, or you can transfer them to a dozen airline and hotel programs.</li>
                          <li><strong>Cons: </strong>Chase's no-annual-fee cash back cards now offer competitive rewards on dining and some travel when compared to the Chase Sapphire Preferred® Card. However, those cards don't offer the enhanced redemption value and point-transfer options of the Chase Sapphire Preferred® Card, and they also charge foreign transaction fees.  </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                 <!---->
            </div>
          
            </div>
        
    </section>

    <!--Rank 2-->  
    <section id="rank2" class="">
     
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
               
                <div class="col-md p-5 ">
                    <h2 class="text-center">Capital One Venture Rewards Credit Card</h2>
                    
                     <!--List Group-->

                     <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$95</p>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Rewards Rate</h5>
                              <p class="mt-3">2x Miles</p>
                            </div>
                          </a>
                        
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Intro Offer</h5>
                              <p class="mt-3">60,000 Miles</p>
                            </div>
                          </a>

                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mt-3">Recommended Credit Score</h5>
                              <p class="mt-3">690-850</p>
                            </div>
                          </a>
                      </div>
                    
                    <!---->
                    
                    <a href="https://applynow.capitalone.com/?productId=13169" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <img src="{% static 'flp_app/capitaloneventure.png/' %}" style="height: 300px;" class="img-fluid" alt="Capital One Venture Rewards Card">
                </div>

                
                 <!--Accordion-->
                 <div class="accordion p-2" id="accordion2">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                          Quick Facts
                        </button>
                      </h2>
                      <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul>
                            <li>Enjoy a one-time bonus of 60,000 miles once you spend $3,000 on purchases within 3 months from account opening, equal to $600 in travel</li>
                            <li>Earn unlimited 2X miles on every purchase, every day</li>
                            <li>Miles won't expire for the life of the account and there's no limit to how many you can earn</li>
                            <li>Receive up to $100 application fee credit for Global Entry or TSA Pre✓®</li>
                            <li>Redeem on travel—including flights, vacation rentals, car rentals and more. Plus transfer your miles to over 15+ travel loyalty programs</li>
                            <li>No foreign transaction fees</li>
                            <br>
                            <a href="https://applynow.capitalone.com/?productId=13169">View Rates & Fees</a>
                          </ul>
                        </div>
                      </div>
                    </div>
  
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwoTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                          Why We Like It
                        </button>
                      </h2>
                      <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>Simple rewards and flexible redemption have rightly made the Capital One Venture Rewards Credit Card one of the most popular travel credit cards on the market. </p>
                          <ul>
                            <li><strong>Pros: </strong>This card earns unlimited 2 miles per dollar spent on everything. Miles can be redeemed for any travel expense. You're not limited to any single airline or hotel chain, and there are no blackout dates or restrictions on your travel. There's a great sign-up bonus, and the card also reimburses the application fee for TSA Precheck or Global Entry.  </li>
                            <li><strong>Cons: </strong>You won't get the perks of a dedicated airline or hotel card, like free checked bags or upgrades. You can transfer miles to several airline loyalty programs, but domestic options are scant. </li>
                          </ul>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                   <!---->

                </div>
            </div>
           
    </section>


    <!--Rank 3-->  
    <section id="rank3" class="">
        
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <img src="{% static 'flp_app/boatravel.jpg/' %}" style="height: 300px;"  class="img-fluid" alt="Bank of America Travel Rewards Credit Card">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Bank of America® Travel Rewards</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1.5x Points</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">25,000 Points</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">690-850</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://secure.bankofamerica.com/apply-credit-cards/public/icai-single/#/info/" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

             <!--Accordion-->
             <div class="accordion p-2" id="accordion3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeOne" aria-expanded="false" aria-controls="collapseThreeOne">
                    Quick Facts
                  </button>
                </h2>
                <div id="collapseThreeOne" class="accordion-collapse collapse" aria-labelledby="headingThreeOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <li>Earn unlimited 1.5 points per $1 spent on all purchases, with no annual fee and no foreign transaction fees and your points don't expire</li>
                      <li>25,000 online bonus points after you make at least $1,000 in purchases in the first 90 days of account opening - that can be a $250 statement credit toward travel purchases</li>
                      <li>Use your card to book your trip how and where you want - you're not limited to specific websites with blackout dates or restrictions</li>
                      <li>Redeem points for a statement credit to pay for travel or dining purchases, such as flights, hotel stays, car and vacation rentals, baggage fees, and also at restaurants including takeout</li>
                      <li>0% Introductory APR for 15 billing cycles for purchases. After the intro APR ends, 13.99% - 23.99% Variable APR will apply</li>
                      <li>If you're a Preferred Rewards member, you can earn 25% - 75% more points on every purchase. That means you could earn up to 2.62 points for every $1 spent.</li>
                      <li>Contactless Cards - The security of a chip card, with the convenience of a tap</li>
                      <li>This online only offer may not be available if you leave this page or if you visit a Bank of America financial center. You can take advantage of this offer when you apply now.</li>
                      <br>
                      <a href="https://secure.bankofamerica.com/apply-credit-cards/public/icai-single/#/info/">View Rates & Fees</a>
          
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo" aria-expanded="false" aria-controls="collapseThreeTwo">
                    Why We Like It
                  </button>
                </h2>
                <div id="collapseThreeTwo" class="accordion-collapse collapse" aria-labelledby="headingThreeTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                   <p>The Bank of America® Travel Rewards credit card makes its bones with simplicity and value: solid rewards on every purchase for an annual fee of $0. </p>
                    <ul>
                      <li><strong>Pros: </strong>Get 1.5 points per dollar spent on all purchases. Redeem miles at 1 cent apiece for any travel or restaurant expense. Bank of America® has an expansive definition of "travel expenses," so your redemption options aren't just limited to plane rides and hotel stays. The sign-up bonus is pretty good for a no-annual-fee card, too: 25,000 online bonus points after you make at least $1,000 in purchases in the first 90 days of account opening - that can be a $250 statement credit toward travel purchases. </li>
                      <li><strong>Cons: </strong>The sign-up bonus is low compared with the top travel cards on the market. Big spenders and frequent travelers may be better off with a card that offers bonus rewards for travel purchases, even if it means paying an annual fee.   </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
             <!---->
        </div>
      
        </div>
    
    </section>


    <!--Rank 4-->  
    <section id="rank4" class="">
    
            <div class="p-5 my-1 rounded-3">
            <div class="row align-items-center bg-light justify-content-between">
            
                <div class="col-md p-5 ">
                    <h2 class="text-center">Citi Premier® Card</h2>
                    
                    <!--List Group-->

                    <div class="list-group mt-2">

                        
                        <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Annual Fee</h5>
                            <p class="mt-3">$95</p>
                        </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Rewards Rate</h5>
                            <p class="mt-3">1x-3x Points</p>
                            </div>
                        </a>
                        
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Intro Offer</h5>
                            <p class="mt-3">80,000 Points</p>
                            </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-3">Recommended Credit Score</h5>
                            <p class="mt-3">690-850</p>
                            </div>
                        </a>


                    </div>
                    
                    <!---->
                    
                    <a href="https://citicards.citi.com/usc/LPACA/Citi/Rewards/Premier/ps/index.html" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
                </div>

                
                <div class="col-md text-center">
                    <img src="{% static 'flp_app/citipremier.png/' %}" style="height: 300px;" class="img-fluid" alt="">
                </div>

                
                <!--Accordion-->
                <div class="accordion p-2" id="accordion4">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourOne" aria-expanded="false" aria-controls="collapseFourOne">
                        Quick Facts
                        </button>
                    </h2>
                    <div id="collapseFourOne" class="accordion-collapse collapse" aria-labelledby="headingFourOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <ul>
                          <li>Earn 80,000 bonus ThankYou® Points after you spend $4,000 in purchases within the first 3 months of account opening</li>
                          <li>Earn 3 Points per $1 spent at Restaurants and Supermarkets</li>
                          <li>Earn 3 Points per $1 spent at Gas Stations, Air Travel and Hotels</li>
                          <li>Earn 1 Point per $1 spent on all other purchases</li>
                          <li>Annual Hotel Savings Benefit</li>
                          <li>80,000 Points are redeemable for $800 in gift cards when redeemed at thankyou.com</li>
                          <li>No expiration and no limit to the amount of points you can earn with this card</li>
                          <li>No Foreign Transaction Fees on purchases</li>
                          <br>
                          <a href="https://citicards.citi.com/usc/LPACA/Citi/Rewards/Premier/ps/index.html">View Rates & Fees</a>
                        </ul>
                        </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourTwo" aria-expanded="false" aria-controls="collapseFourTwo">
                        Why We Like It
                        </button>
                    </h2>
                    <div id="collapseFourTwo" class="accordion-collapse collapse" aria-labelledby="headingFourTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <p>The Citi Premier® Card has bulked up its rewards by offering 3 points per dollar not only on air travel and at hotels but also at supermarkets, restaurants and gas stations. Add in the rich sign-up bonus and the annual hotel benefit, and it's a serious contender.   </p>
                        <ul>
                          <li><strong>Pros: </strong>There's a lot to be said for a travel credit card that pays a high rewards rate on non-travel spending. Supermarkets and restaurants are among the biggest line items in many household budgets, and gas can be a major expense, too. Use the annual hotel benefit — $100 off a single hotel stay of $500 or more (taxes and fees excluded) booked through thankyou.com — and the card pays for itself. </li>
                          <li><strong>Cons: </strong>This card no longer allows you to redeem points for airfare at 1.25 cents apiece, as it once did; travel redemptions are now 1 cent per point. Although you can transfer the points to airline partners, those carriers are mostly foreign-based. JetBlue is the only domestic option.  </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <!---->

                </div>
            </div>
        
    </section>

    <!--Rank 5-->  
    <section id="rank5" class="">
            
        <div class="p-5 mt-1  rounded-3">
        <div class="row align-items-center bg-light justify-content-between">

            <div class="col-md text-center">
                <img src="{% static 'flp_app/chasefreedomunlimited.png/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 mb-2">
                <h2 class="text-center">Chase Freedom Unlimited®</h2>
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$0</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1.5%-5%</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">$200</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">690-850</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                <a href="https://creditcards.chase.com/a1/freedom/CFD2021g?CELL=6RRW&jp_cmp=cc/Freedom+Unlimited_Brand_Exact_Freedom+Unlimited_SEM_US_NA_Standard_NA/sea/p55734705554/Chase+Freedom+Unlimited" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

                            <!--Accordion-->
                            <div class="accordion p-2" id="accordion5">
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFiveOne">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveOne" aria-expanded="false" aria-controls="collapseFiveOne">
                                    Quick Facts
                                  </button>
                                </h2>
                                <div id="collapseFiveOne" class="accordion-collapse collapse" aria-labelledby="headingFiveOne" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    <ul>
                                      <li>Earn a $200 Bonus after you spend $500 on purchases in your first 3 months from account opening.</li>
                                      <li>Earn 5% cash back on grocery store purchases (not including Target® or Walmart® purchases) on up to $12,000 spent in the first year.</li>
                                      <li>Earn unlimited 1.5% cash back on all other purchases.</li>
                                      <li>Earn 5% on Chase travel purchased through Ultimate Rewards®, 3% on dining and drugstores, and 1.5% on all other purchases.</li>
                                      <li>No annual fee.</li>
                                      <li>0% Intro APR for 15 months from account opening on purchases, then a variable APR of 14.99 - 23.74%.</li>
                                      <li>No minimum to redeem for cash back. Cash Back rewards do not expire as long as your account is open.</li>
                                      <br>
                                      <a href="https://creditcards.chase.com/a1/freedom/CFD2021g?CELL=6RRW&jp_cmp=cc/Freedom+Unlimited_Brand_Exact_Freedom+Unlimited_SEM_US_NA_Standard_NA/sea/p55734705554/Chase+Freedom+Unlimited">View Rates & Fees</a>
                          
                                    </ul>
                                  </div>
                                </div>
                              </div>
            
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFiveTwo">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveTwo" aria-expanded="false" aria-controls="collapseFiveTwo">
                                    Why We Like It
                                  </button>
                                </h2>
                                <div id="collapseFiveTwo" class="accordion-collapse collapse" aria-labelledby="headingFiveTwo" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                   <p>Once merely a great cash-back card, the Chase Freedom Unlimited® can now be counted as an excellent travel card, too. It earns 5% cash back on travel booked through Chase, and that's just the start.  </p>
                                    <ul>
                                      <li><strong>Pros: </strong>This card earns 5% cash back on travel booked through Chase; 3% cash back at restaurants and drugstores; and 1.5% on other purchases. New cardholders can snag this sign-up bonus: Earn a $200 Bonus after you spend $500 on purchases in your first 3 months from account opening. And earn 5% cash back on grocery store purchases (not including Target® or Walmart® purchases) on up to $12,000 spent in the first year. Finally, if you have one of Chase's Sapphire cards, you can transfer your rewards to it for greater value and flexibility.  </li>
                                      <li><strong>Cons: </strong>As a cash-back card, it doesn't offer any specific travel perks. And it charges a foreign transaction fee, so it's not the best choice for international travel.   </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                             <!---->
        </div>
      
        </div>

    </section>


    <!--Rank 6-->  
    <section id="rank6" class="">

        <div class="p-5 my-1 rounded-3">
        <div class="row align-items-center bg-light justify-content-between">
          
            <div class="col-md p-5 ">
                <h2 class="text-center">American Express® Gold Card</h2>
                
                <!--List Group-->

                <div class="list-group mt-2">

                    
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mt-3">Annual Fee</h5>
                        <p class="mt-3">$250</p>
                      </div>
                    </a>

                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Rewards Rate</h5>
                          <p class="mt-3">1x-4x Points</p>
                        </div>
                      </a>
                    
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Intro Offer</h5>
                          <p class="mt-3">60,000 Points</p>
                        </div>
                      </a>

                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mt-3">Recommended Credit Score</h5>
                          <p class="mt-3">690-850</p>
                        </div>
                      </a>


                  </div>
                
                <!---->
                
                <a href="https://www.americanexpress.com/us/credit-cards/card-application/apply/gold-card/36634-10-0?pmccode=784&intlink=US-Acq-Shop-Consumer-PDP-Prospect-Apply-GoldCard-Header" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i> Apply Now</a>
            </div>

            
            <div class="col-md">
                <img src="{% static 'flp_app/amexgold.png/' %}" style="height: 300px;" class="img-fluid" alt="">
            </div>

            
            <!--Accordion-->
            <div class="accordion p-2" id="accordion6">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixOne" aria-expanded="false" aria-controls="collapseSixOne">
                      Quick Facts
                    </button>
                  </h2>
                  <div id="collapseSixOne" class="accordion-collapse collapse" aria-labelledby="headingSixOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      
                      <ul>
                        <li>Rose Gold is back. You can now choose between Gold or Rose Gold.</li>
                        <li>Earn 60,000 Membership Rewards® Points after you spend $4,000 on eligible purchases with your new Card within the first 6 months.</li>
                        <li>Earn 4X Membership Rewards® Points at Restaurants, including takeout and delivery, and earn 4X Membership Rewards® points at U.S. supermarkets (on up to $25,000 per calendar year in purchases, then 1X).</li>
                        <li>Earn 3X Membership Rewards® points on flights booked directly with airlines or on amextravel.com.</li>
                        <li>$120 Uber Cash on Gold: Add your Gold Card to your Uber account and each month automatically get $10 in Uber Cash for Uber Eats orders or Uber rides in the U.S., totaling up to $120 per year.</li>
                        <li>$120 Dining Credit: Earn up to a total of $10 in statement credits monthly when you pay with the Gold Card at Grubhub, Seamless, The Cheesecake Factory, Ruth's Chris Steak House, Boxed, and participating Shake Shack locations. This can be an annual savings of up to $120. Enrollment required.</li>
                        <li>Get up to 12 complimentary months of an Uber Eats Pass subscription when you enroll with your Gold Card by 12/31/21.</li>
                        <li>No Foreign Transaction Fees.</li>
                      </ul>
                      <br>
                      <a href="https://www.americanexpress.com/us/credit-cards/card/gold-card/">View Rates & Fees</a>

                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSixTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixTwo" aria-expanded="false" aria-controls="collapseSixTwo">
                      Why We Like It
                    </button>
                  </h2>
                  <div id="collapseSixTwo" class="accordion-collapse collapse" aria-labelledby="headingSixTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>If you can stomach the annual fee, the American Express® Gold Card offers handsome returns at restaurants and on airfare, and its rewards for grocery spending are the best of any travel card. </p>
                      <ul>
                        <li><strong>Pros: </strong>Earn 4X points at restaurants; 4X points on up to $25,000 a year in spending at U.S. supermarkets; 3X on airfare booked directly with airlines or on amextravel.com; and 1X on all other spending. There are dining credits and a nice welcome offer, and your points are transferable to airlines and hotels.  Terms apply. </li>
                        <li><strong>Cons: </strong>The $250 annual fee is steep for cards in its class. The dining credits are somewhat complicated. And this card has eliminated the $100 annual credit for incidental airline fees that once enhanced its value.  </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!---->

            </div>
        </div>
      
    </section>

    <p>Information source: Nerd Wallet</p>
   
    <button class="btn btn-sm btn-outline-primary mb-4"><a href="https://www.nerdwallet.com/best/credit-cards/travel?trk=nw_gn_5.0"></a>Read Article</button>

</div>  
{% endblock content %}