{% extends "flp_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% load static %}

    <header>
        <section class="bg-dark text-light mt-4 p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
        <div class="p-4 p-md-5text-white rounded bg-dark display-4 text-center">
            <h1>Login</h1>
        </div>
        </div>
    </section>
    </header>

    <section class='bg-dark text-light '>
        <div class="container">
            <div class="w-100 align-items-center ">
                <form method="POST">
                                {% csrf_token %}
                                <fieldset class='form-group'>
                                  
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-outline-light my-4" type='submit'>Login</button>
                                </div>
                            </form>
                            <div class="border-top pt-3">
                                <small class="text-muted">Need an account? <a href="{% url 'register' %}" class='ml-2'>Sign Up</a></small>
                            </div>
            </div>
            
         </div>
        
    </section>

{% endblock content %}