{% extends "flp_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% load static %}

    <section class='bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start'>
        <div class="container">
            
            <h2 class='mt-2'>Thanks for spending some quality time with us! You're now logged out. </h2>
            <div class="border-top pt-3">
                <button class="btn btn-outline-light my-2" type='submit'><a href="{% url 'login' %}" class='ml-2 my-3'>Login again</a></button>
                
            </div>
         </div>
        
    </section>

{% endblock content %}