{% extends "flp_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% load static %}

    <section>
        <div class="container mt-5">

            <div class="card col-12 my-5" ></div>
                <img style="width: 18rem;" src="{{ user.profile.image.url }}" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hi, {{ user.username }}</h5>
                  
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ user.first_name }} {{ user.last_name }}</li>
                  <li class="list-group-item">{{ user.email }}</li>
                </ul>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-sm m-1" data-bs-toggle="modal" data-bs-target="#editModal">Edit profile</button>
                    <a href="{% url 'bookmarks' %}"><button class="btn btn-primary btn-sm m-1">View Bookmarks</button></a>
                    {% if user.is_superuser %}
                    <a href="{% url 'blog-create' %}" class="btn btn-secondary btn-sm m-1">Create Blog Post</a>
                    {% endif %}
                </div>
              </div>
            
            <h1 class='my-4'></h1>

         </div>
        
         <div class="col-md-7">
            
          <article class="blog-post">
              {% for post in posts %}
                  <div class="card text-dark bg-light mb-3" style="max-width: 100%;">
                      <div class="card-header">{{ post.date_posted|date:"F d, Y" }}</div>
                      <div class="card-body">
                      <h1 class="card-title"><a href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h1>
                      </div>
                  </div>
              {% endfor %}

      </div>

         
    </section>

 <!--Profile Edit Modal-->
  
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class="border-bottom mb-4">
                        User Info
                    </legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary my-2" type='submit'>Save Changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
       
      </div>
    </div>
  </div>

{% endblock content %}