{% extends "flp_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% load static %}

    <section>
        <div class="container my-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class="border-bottom my-4">
                        Join Today
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary my-2" type='submit'>Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">Already have an account? <a href="{% url 'login' %}" class='ml-2'>Sign In</a></small>
            </div>
         </div>
        
    </section>

{% endblock content %}